<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
        <!--<ul class="breadcrumb-elements visible-elements">-->
            <!--<li dragonlanguage="">-->
                <!--<a onclick="alert('Test')">-->
                    <!--<i dragonlanguage="" title="" class="icon-mail5"></i> -->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        <div class="subcontent">

        </div>
    </div>
</div><!--end-->