<%
if (DATA.name !== undefined) {
    var name, model, opts;
    name = DATA.name;
    model = DATA.model;
    opts = DATA.opts;
}
var name = name || "";
var options = {
    text: name + "?",
    checked: false,
    posttype: "checkbox",
    disabled: false,
    size: 'switchery',
    icon: {
        class: "none",
        position: "left",
        color: COLOR.secundary + "-800"
    },
};
options = OBJECT.merge(options, opts); var nameclean = name.replace(/\./g, '_');
options.icon.spyce = options.icon.class === "none" ? "remove-input-space" : "";
options.model = options.model ? options.model : false;
var toclient = JSON.stringify(options);
%>
<script>
    <%= model %>.triggers.table.before.control("<%= nameclean %>");
    <%= model %>.form.schemas.insert["<%= name %>"] = FORM.schemasType.checkbox;
    <%= model %>.form.schemas.select["<%= name %>"] = FORM.schemasType.checkbox;
    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>");
    if (MESSAGE.exist('columns.<%= nameclean %>')) {
        <%= model %>.
        form.options.<%= name %>.text = MESSAGE.ic('columns.<%= nameclean %>');
    }
    var isReadProgram = <%= model %>.form.isReadOnly('<%= name %>');
    if (isReadProgram !== false) {
        <%= model %>.
        form.options.<%= name %>.disabled = true;
        if (isReadProgram !== undefined) {
            <%= model %>.<%= name %> = isReadProgram;
            checkbox<%= model %>_<%= nameclean %> = isReadProgram;
        }
    }

    <%= model %>.<%= name %> = eval(<%= model %>.<%= name %>)
    ;
    <%= model %>.<%= name %> = <%= model %>.<%= name %>? true : false;
</script>
<label>

    {{<%= model %>.form.options.<%= name %>.text}}

</label>
<div>
    <div class="checkbox checkbox-switchery <%= options.size %>"
         ng-show="!<%= model %>.form.options.<%= name %>.disabled">
        <input
                type="checkbox"
                name="<%= model %>_<%= nameclean %>"
                id="<%= model %>_<%= nameclean %>"
                class="switchery"
        />
        <% if(options.popover){ %>
            <i
                    id="popover<%= model %>_<%= nameclean %>" class="icon-help">
            </i>
        <% } %>
    </div>
    <div class="checkbox checkbox-switchery" ng-show="<%= model %>.form.options.<%= name %>.disabled">

        {{<%= model %>.form.options.<%= name %>.text}}
        <input ng-model="<%= model + "." + name %>"
               type="checkbox"
               class="switchery"
               readonly="readonly"
               disabled="disabled"
        />

    </div>
</div>

<script>
    var element = document.getElementById("<%= model %>_<%= nameclean %>");
    var checkbox<%= model %>_<%= nameclean %> = new Switchery(element, {size: "small"});
    if (<%= model %>.<%= name %>)
    {
        checkbox<%= model %>_<%= nameclean %>.setPosition(<%= model + "." + name %>);
    }
    <% if(options.popover){ %>
    $('#popover<%= model %>_<%= nameclean %>').popover({
        container: 'body',
        title: eval("`" +<%= model %>.form.options.<%= name %>.popover.title + "`"),
        content
    :
    eval("`" +<%= model %>.form.options.<%= name %>.popover.content + "`"
    ),
    trigger: 'click'
    })
    ;
    <% } %>
    $("#<%= model %>_<%= nameclean %>").change(function (val) {
        <%= model %>.<%= name %> = $(this).prop("checked");
        STEP.register({
            scope: "<%= model %>",
            action: "Change Checkbox",
            field: "<%= name %>",
            value: <%= model %>.<%= name %>
    })
        ;
        <%= model %>.
        refreshAngular();
    });
    <%= model %>.triggers.table.after.control("<%= nameclean %>");
</script>