<div class="modal-footer" dragonlanguage="">
     <span class="label label-white text-<%= TAG.table %>-300 label-rounded label-icon">
            <i class="position-right"></i>
        </span>

    <button type="button"  class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= model %>.pages.form.close()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.i('mono.cancel')</language>
    </button>
    <button type="button" role="button" class="btn bg-<%= COLOR.success %> btn-labeled btn-xs pull-right"
            ng-click="<%= model %>.pages.form.save()">
        <b><i class="icon-floppy-disk"></i></b>
        <language>MESSAGE.i('mono.save')</language>
    </button>
</div>