<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
     <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
            <i class="position-right"></i>
        </span>

    <button

            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= model %>.pages.form.close()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <button ng-show="<%= model %>.form.mode!=='new'"
            dragonlanguage="" title="MESSAGE.ic('mono.save')"
            type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
            ng-click="<%= model %>.pages.form.save()">
        <b><i class="icon-floppy-disk"></i></b>
        <language>MESSAGE.ic('mono.save')</language>
    </button>
    <div class="btn-group dropup " ng-show="<%= model %>.form.mode==='new'">
        <button
                style="margin-right: 1px !important;"
                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs"
                ng-click="<%= model %>.pages.form.save()">
            <b><i class="icon-floppy-disk"></i></b>
            <language>MESSAGE.ic('mono.save')</language>
        </button>
        <button  style="height: 34px;" type="button" class="btn bg-<%= COLOR.success %>-600 dropdown-toggle btn-xs"
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li>
                <a ng-click="<%= model %>.pages.form.save(undefined,undefined,false)" dragonlanguage="">
                    <i class="icon-floppy-disks"></i>
                    <language>MESSAGE.ic('mono.saveAndContinue')</language>
                </a>
            </li>
        </ul>
    </div>
</div>