<%
if (DATA.name !== undefined) {
    var name, model, opts;
    name = DATA.name;
    model = DATA.model;
    opts = DATA.opts;
}
var name = name || "";
var options = {
    placeholder: params.capitalize(name),
    type: "text",
    icon: {
        class: "none",
        position: "left",
        color: COLOR.secundary + "-800"
    },
    helptext: '',
    format: '',
    readonly: false,
    disabled: false,
    autocomplete: false,
    posttype: "text",
    isNumber: false,
    hint: null,
    //maxlength: 10,

};


options = OBJECT.merge(options, opts); var nameclean = name.replace(/\./g, '_');
options.icon.spyce = options.icon.class === "none" ? "remove-input-space" : "";
options.format = options.format ? options.format : false;
options.model = options.model ? options.model : false;
var toclient = JSON.stringify(options);
%>
<script>
    <%= model %>.triggers.table.before.control("<%= nameclean %>");
    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>");
    <% if(options.format || options.isNumber){ %>
    <%= model %>.form.registerField("<%= name %>_DragonClean", "<%= toclient %>");
    <% } %>
    if (MESSAGE.exist('columns.<%= nameclean %>')) {
        <%= model %>.
        form.options.<%= name %>.placeholder = MESSAGE.ic('columns.<%= nameclean %>');
    }

</script>
<div class="<%= options.icon.spyce %> form-group-material form-group has-feedback has-{{<%= model %>.validate['<%= name %>'].type || <%= model %>.defaultColor }}  has-feedback-{{::<%= model %>.form.options.<%= name %>.icon.position}}"
     id="input<%= model %>_<%= nameclean %>">
    <label
            class="control-label is-visible animate" style="color:#000000 !important;">
        {{::<%= model %>.form.options.<%= name %>.placeholder}}
        <% if(options.popover){ %>
            <i
                    id="popover<%= model %>_<%= nameclean %>" class="icon-help">
            </i>
        <% } %>
    </label>

    <input
            ng-model="<%= model + "." + name %>" name="<%= model %>_<%= nameclean %>"
            ng-readonly="<%= model %>.form.options.<%= name %>.readonly"
            ng-disabled="<%= model %>.form.options.<%= name %>.disabled"
            maxlength="{{<%= model %>.form.options.<%= name %>.maxlength}}"
            <%= !options.autocomplete ? "autocomplete=off" : "" %>
            type="text"
            ng-model-onblur
            class="form-control"
            placeholder="{{::<%= model %>.form.options.<%= name %>.inputPlaceholder}}">

    <div class="form-control-feedback" ng-if="<%= model %>.form.options.<%= name %>.icon.class!=='none'">
        <i class="icon-<%= options.icon.class %> text-secundary">

        </i>
    </div>
    <span ng-if="<%= model %>.form.options.<%= name %>.helptext!=''"
          class="help-block text-muted">
        <%= options.helptext %>
    </span>

    <span ng-if="<%= model %>.validate['<%= name %>'].messages.length>0" class="help-block">

        <p class="text-{{validation.type}}" ng-show="validation.visible!==false || <%= model %>.form.intent===true"
           ng-repeat="(key,validation) in <%= model %>.validate['<%= name %>'].messages track by key">
               <i class="{{validation.icon}}"></i> {{validation.message}}
        </p>
    </span>
</div>

<script>
    if (<%= model %>.
    UNIQUEFIELD
    )
    {
        if (UNIQUEFIELD !== "<%= name %>")
            $("#input<%= model %>_<%= nameclean %>").parent().hide();
    }
    <%= model %>.triggers.table.after.control("<%= nameclean %>");
    <% if(options.maxlength){ %>
    //$('[name="<%= model %>_<%= nameclean %>"]').maxlength();
    <% } %>

    $('[name="<%= model %>_<%= nameclean %>"]').blur(function () {
        STEP.register({
            scope: "<%= model %>",
            action: "Change Text",
            field: "<%= name %>",
            value: <%= model %>.<%= name %>
    })
        ;
    });
    <% if(options.popover){ %>
    $('#popover<%= model %>_<%= nameclean %>').popover({
        container: 'body',
        title: eval("`" +<%= model %>.form.options.<%= name %>.popover.title + "`"),
        content
    :
    eval("`" +<%= model %>.form.options.<%= name %>.popover.content + "`"
    ),
    trigger: 'click'
    })
    ;
    <% } %>
    var isReadProgram = <%= model %>.
    form.isReadOnly('<%= name %>');
    if (isReadProgram !== false) {
        <%= model %>.
        form.options.<%= name %>.disabled = true;
        if (isReadProgram !== undefined) {
            <%= model %>.<%= name %> = isReadProgram;
            $('[name="<%= model %>_<%= nameclean %>"]').val(isReadProgram);
        }
    }
</script>