<ul class="nav nav-tabs bg-<%= COLOR.primary %>-800 nav-tabs-component nav-justified" dragonlanguage="">
    <% var first = "active"; for(var tab of tabs) { %>
        <li class="<%= first %>">
            <a href="#<%= tab.id %>" data-toggle="tab">
                <i class="<%= tab.icon %> position-left"></i>
                <language>MESSAGE.ispace('columns.<%= tab.text %>','<%= tab.text %>')</language>
                <i class="border-white  position-right"></i>
            </a>
        </li>
    <% first = ""; } %>
</ul>