<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <%- include('css.ejs') %>
    <style>
        <%- include('../../../styles/colors/'+COLOR.primary+'.css') %>
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td align="center" class="masthead bg-<%= COLOR.primary %>-800">
                        <h1><%= CONFIG.logo %></h1>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2><%= DATA.name %>, <%= DATA.a %></h2>
                                </td>
                            </tr>
                            <tr>
                                <h4><%= DATA.b %></h4>
                            </tr>
                            <tr>
                                <p><%= DATA.c %></p>
                            </tr>
                            <tr>
                                <td>
                                    <a href=" <%= DATA.url %>" target="_blank">
                                        <%= DATA.button %>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> <%= DATA.d %></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p>
                                        <a href="tel:+<%= DATA.phone %>">
                                            Call <%= DATA.phone %>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            © <%= new Date().getFullYear() %>.
                            <a href="<%= CONFIG.developerBy.site %>"><%= CONFIG.developerBy.name %></a>.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="container bg-<%= COLOR.primary %>-300">
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>
                            Sent by <a href="#"><%= CONFIG.appName %></a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>