

<ul class="media-list">
    <li class="media panel panel-body stack-media-on-mobile">
        <a href="<%= DATA.profileimage %>" class="media-left" data-popup="lightbox">
            <img src="<%= DATA.profileimage %>" width="96" alt="">
        </a>

        <div class="media-body">
            <h6 class="media-heading text-semibold">
                <a href="#"><%= DATA.name %></a>
            </h6>

            <ul class="list-inline list-inline-separate mb-10">
                <li><a href="#" class="text-muted">Username</a></li>
                <li><a href="#" class="text-muted"><%= DATA.username %></a></li>
            </ul>

            <p class="content-group-sm">
                <%= DATA.error %>
            </p>

            <ul class="list-inline list-inline-separate">
                <li>Date: <%= new Date() %></li>
                <li>Call <%= DATA.phone %></li>
            </ul>
        </div>

        <div class="media-right text-center">
            <h3 class="no-margin text-semibold"><%= DATA.type %></h3>
        </div>
    </li>
</ul>