<%- include('../email/css.ejs') %>
<style>
    <%- include('../../../files/dragon_configuration/themes/primary.css') %>
</style>
<style>
    <%- include('../../../files/dragon_configuration/themes/secundary.css') %>
</style>
<style>
    <%- include('../../../files/dragon_configuration/themes/extra.css') %>
</style>
<div id="pageHeader">
    <div class="bg-<%= COLOR.primary %>">
        <%= DATA.pdf.replace('a PDF.pdf', '') %> - <%= CONFIG.appName %>
    </div>
    <table class="table table-bordered">
        <thead class="bg-<%= COLOR.secundary %>">

        <tr class="bg-<%= COLOR.secundary %>">
            <% for(var i in DATA.columns) { %>
                <th><%= DATA.columns[i] %></th>
            <% } %>
        </tr>
        </thead>
        <tbody style="visibility: hidden;height: 0px;">
        <% DATA.content.forEach(function (row) { %>
            <tr>
                <% for(var i in row) { %>
                    <td><%= row[i] %></td>
                <% } %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
