<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <%- include('../email/css.ejs') %>
    <style>
        <%- include('../../../files/dragon_configuration/themes/primary.css') %>
    </style>
    <style>
        <%- include('../../../files/dragon_configuration/themes/secundary.css') %>
    </style>
    <style>
        <%- include('../../../files/dragon_configuration/themes/extra.css') %>
    </style>
</head>
<body>
<% DATA.content = eval("(" + DATA.content + ")"); %>
<% DATA.firstrow = eval("(" + DATA.firstrow + ")"); %>
<% DATA.columns = eval("(" + DATA.columns + ")"); %>

<table class="body-wrap">
    <tr>
        <td class="container" style="margin: 0 0 !important;max-width: 5000px !important;">
            <table class="table table-bordered">
                <thead class="bg-<%= COLOR.secundary %>" style="visibility: hidden;">
                <tr class="bg-<%= COLOR.secundary %>">
                    <% for(var i in DATA.columns) { %>
                        <th height="0"><%= DATA.columns[i] %></th>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% DATA.content.forEach(function (row) { %>
                    <tr>
                        <% for(var i in row) { %>
                            <td><%= row[i] %></td>
                        <% } %>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>