<div class="text-right">
    <ul class="pagination" ng-show="<%= modelName %>.table.totalPages>1">
        <li><a>{{<%= modelName %>.tableStatus()}}</a></li>
        <li><a data-popup="tooltip" title="First" ng-click="<%= modelName %>.firstPage()">‹‹</a></li>
        <li><a data-popup="tooltip" title="Back" ng-click="<%= modelName %>.backPage()">‹</a></li>
        <li class="{{row.current}} {{row.class}}" ng-repeat="(key, row) in <%= modelName %>.table.pages">
            <a data-popup="tooltip" title="Page {{row.number}}" class="{{row.current}}"
               ng-dblclick="<%= modelName %>.goPageModal()" ng-click="<%= modelName %>.goPage(row.number)">{{row.number}}
            </a>
        </li>
        <li><a data-popup="tooltip" title="Next" ng-click="<%= modelName %>.nextPage()">›</a></li>
        <li><a data-popup="tooltip" title="Last" ng-click="<%= modelName %>.lastPage()">››</a></li>
    </ul>
</div>