<head>
    <% var root = '../../'; %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title><%= CONFIG.appName %></title>

    <!-- Global stylesheets -->
    <link rel="shortcut icon" type="image/svg" href="/assets/images/<%= COLOR.logo %>.svg"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="assets/js/plugins/date/jquery.datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">

    <% localStyles.forEach(function(item){ %>
        <link href="<%= FOLDERS.styles %>/<%= item %>" rel="stylesheet" type="text/css">
    <% }); %>

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/core.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>

    <!-- /core JS files -->

    <!-- Theme JS files -->

    <script type="text/javascript" src="assets/js/plugins/extensions/contextmenu.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="assets/js/plugins/uploaders/dropzone.min.js"></script>

    <!-- FORM JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/selectboxit.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/tags/tagsinput.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/tags/tokenfield.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/maxlength.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/formatter.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/jquery.mask.min.js"></script>
    <!-- FORM JS files -->

    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/media/fancybox.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/velocity/velocity.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/velocity/velocity.ui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/prism.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/sweetalert/sweetalert2.all.js"></script>
    <script type="text/javascript" src="assets/js/plugins/numeral/numeral.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/media/cropper.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>

    <!-- /theme JS files -->
    <script type="text/javascript" src="assets/js/core/libraries/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/angular-sanitize.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/angular-resource.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/table-dragger/dist/table-dragger.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/excel/excelexportjs.js"></script>
    <script type="text/javascript" src="assets/js/plugins/docx/html-docx.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/color/spectrum.js"></script>


    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins/date/jquery.datetimepicker.full.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= CONFIG.googlemap %>&amp;sensor=false&amp;libraries=places"></script>

    <script type="text/javascript" src="assets/js/plugins/pickers/location/typeahead_addresspicker.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/location/autocomplete_addresspicker.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/location/location.js"></script>
    <script type="text/javascript" src="assets/js/plugins/editors/summernote/summernote.min.js"></script>

    <% localjs.forEach(function(item){ %>
        <script src="<%= FOLDERS.scripts %>/<%= item %>"></script>
    <% }); %>

    <script>
        WARNINGREQUESTS = [];
        Dropzone.autoDiscover = false;
        CONFIG = "<%= JSON.stringify(CONFIG) %>";
        CONFIG = eval("(" + CONFIG.replaceAll("&#34;", '"') + ")");
        LANGUAGE = "<%= JSON.stringify(LANGUAGE) %>";
        LANGUAGE = eval("(" + LANGUAGE.replaceAll("&#34;", '"') + ")");
        COLOR = "<%= JSON.stringify(COLOR) %>";
        COLOR = eval("(" + COLOR.replaceAll("&#34;", '"') + ")");
        TAG = "<%= JSON.stringify(TAG) %>";
        TAG = eval("(" + TAG.replaceAll("&#34;", '"') + ")");
        FOLDERS = "<%= JSON.stringify(FOLDERS) %>";
        FOLDERS = eval("(" + FOLDERS.replaceAll("&#34;", '"') + ")");
        DATA = "<%= JSON.stringify(DATA) %>";
        DATA = "<%= JSON.stringify(DATA) %>";
        DATA = eval("(" + DATA.replaceAll("&#34;", '"') + ")");
        SERVICES = "<%= JSON.stringify(SERVICES) %>";
        SERVICES = eval("(" + SERVICES.replaceAll("&#34;", '"') + ")");
        SERVICE.run(SERVICES);
        MODEL = {};
        MODELLIST = "<%= JSON.stringify(models) %>";
        MODELLIST = eval("(" + MODELLIST.replaceAll("&#34;", '"') + ")");
        SESSION.ifLogoffRedirec();
        var space = " ";
        $(".sidebar, .navbar, .navbar-brand, .navbar-text, .navbar-nav > li, .page-header, .page-title, .page-header .heading-elements, .breadcrumb, .breadcrumb-elements > li, .content > .panel, .content .row > [class*=col-], .footer")
            .css('opacity', 0);
    </script>
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <% crudjs.forEach(function(item){ %>
        <script src="<%= FOLDERS.crud %>/<%= item %>"></script>
    <% }); %>

    <% controllersjs.forEach(function(item){ if(item != undefined){ %>
        <script src="<%= FOLDERS.controllers %>/<%= item %>"></script>
    <% }}); %>

    <% localserver.forEach(function (item) {
        if (item != undefined) {
            include("../../server/" + item);
        }
    }); %>

</head>
<body ng-app="app">

<% include splash %>

<div id="baseController" ng-controller="baseController as baseController" style="display: none">
    <div id="modalpool">

    </div>
    <button class=" upButtom btn bg-<%= COLOR.primary %>" title="Go to top">
        <i style="font-size: 30px;" class="icon-square-up"></i></button>
    <% include navbar %>
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <% include menu %>
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content" id="content" style="overflow: hidden">
                    <!-- Error title -->
                    <div class="text-center content-group"
                         style="background-image: url('assets/images/<%= COLOR.logo %>.svg');background-repeat: no-repeat;background-position: center;">
                        <h1 class="error-title dragon-welcome">
                            Welcome to <%= CONFIG.appName %>
                        </h1>
                    </div>
                    <!-- /error title -->
