<!-- Main navbar -->
<div class="navbar navbar-inverse  bg-<%= TAG.navbar %>-800" ng-show="baseController.SESSION.isLogged()">
    <div class="navbar-header  bg-<%= COLOR.primary %>-800">
        <a class="visible-lg visible-md visible-sm navbar-brand bg-<%= COLOR.primary %>-800 sidebar-mobile-main-toggle">
            <img style="float: left !important;" src="assets/images/<%= COLOR.logo %>.svg" alt="">
            <span class="navbar-brand-text" style="float: left;padding-left: 10px;"> <%= CONFIG.logo %></span>
        </a>
        <a class="visible-xs navbar-brand bg-<%= COLOR.primary %>-800 sidebar-mobile-main-toggle">
            <img style="float: left !important;" src="assets/images/<%= COLOR.logo %>.svg" alt="">
            <span id="apptitle" class="navbar-brand-text" style="float: left;padding-left: 10px;">

            </span>
        </a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.LiteMenu')">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-control sidebar-main-hide hidden-xs legitRipple" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.HideMenu')">
                    <i class="icon-lan3"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-control" onclick="STORAGE.clearAll()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage
                   title="MESSAGE.i('navbar.RestoreallConfiguration')">
                    <i class="icon-loop"></i>
                </a>
            </li>
            <li class="dropdown" ng-show="baseController.favorites.length">
                <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" dragonlanguage
                   data-popup="tooltip"
                   data-placement="bottom" data-container="body"
                   title="MESSAGE.i('navbar.Favorites')"
                   aria-expanded="false">
                    <i class="icon-heart5"></i>
                </a>
                <div class="dropdown-menu dropdown-content">
                    <ul class="media-list dropdown-content-body width-100">
                        <li ng-repeat="(key,menu) in baseController.favorites track by key" class="media">
                            <div class="" style="width:220px">
                                <a style="min-width: 200px;float: left;margin-bottom:10px" href="{{menu.href}}"
                                   class="btn border-<%= COLOR.primary %> text-<%= COLOR.info %> btn-flat btn-icon btn-sm legitRipple">
                                    <i class="{{menu.icon}}"></i>
                                    {{menu.text}}
                                </a>
                                <i style="float: right;margin-top:5%;cursor: pointer"
                                   ng-click="baseController.deleteFavorite(menu.href)" class="icon-trash"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li ng-if="baseController.CONFIG.mode==='developer'">
                <a class="sidebar-control" onclick="HTTP.openManager()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage
                   title="MESSAGE.i('navbar.RequestManager')">
                    <i class="icon-git-pull-request"></i>
                    <span class="badge bg-<%= TAG.table %>" ng-model="baseController.WARNINGREQUESTS.length"></span>
                </a>
            </li>
            <li ng-if="baseController.CONFIG.features.fileManager===true">
                <a class="sidebar-control" onclick="FILEMANAGER.OPEN(['/'])" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.FileManager')">
                    <i class="icon-folder-open"></i>
                </a>
            </li>
            <li ng-if="baseController.CONFIG.features.stepManager===true && baseController.CONFIG.mode==='developer'">
                <a class="sidebar-control" onclick="STEP.OPEN()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.StepManager')">
                    <i class=" icon-stack-text"></i>
                </a>
            </li>

        </ul>
        <ul class="nav navbar-nav">
            <li ng-if="baseController.CONFIG.features.language===true && baseController.CONFIG.mode==='developer'">
                <a class="sidebar-control" onclick="MESSAGE.OPEN()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage
                   title="MESSAGE.i('navbar.MessageManager')">
                    <i class=" icon-sphere"></i>
                </a>
            </li>
            <li class="dropdown language-switch" ng-if="baseController.CONFIG.features.language===true">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false"><img
                            src="assets/images/flags/{{baseController.currentLang.flag}}.png" alt=""
                            class="position-left"> {{baseController.currentLang.name}} <i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li
                            ng-repeat="(key,lan) in baseController.SHOWLANGS track by key"
                            class="{{baseController.currentLang.code===lan.code?'bg-<%= COLOR.primary %>':''}}">
                        <a ng-click="baseController.changeLanguage(lan)">
                            <img src="assets/images/flags/{{lan.flag}}.png" alt="">{{lan.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-right" ng-show="baseController.SESSION.isLogged()">

            <ul class="nav navbar-nav">

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">

                        <img data-dragonfile="/my_user/profileimage/{{::baseController.SESSION.current().id}}"
                             src="assets/images/placeholder.jpg" alt="">

                        <span>{{::baseController.SESSION.current().fullName()}}</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <!--<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>-->
                        <!--<li><a href="#"><i class="icon-coins"></i> My balance</a></li>-->
                        <!--<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>-->
                        <li><a onclick="SESSION.logoff()" dragonlanguage><i class="icon-switch2"></i>
                                <language>MESSAGE.i('navbar.Logout')</language>
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->