<div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.secundary %>">
    <!--Breadcrumb and Table Options-->
    <div class="breadcrumb-line">

        <ul class="breadcrumb visible-lg visible-md" ng-show="!<%= scope %>.modal.isOpen()" dragonlanguage="">
            <ul ng-if="<%= scope %>.headertitle" class="breadcrumb visible-lg visible-md" dragonlanguage="">
                <li class="active">
                    <a data-function="menu" href="javascript:void(0)">
                        {{<%= scope %>.headertitle}}
                    </a>
                </li>
            </ul>
            <li class="active">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
                    {{<%= scope %>.MENU.menu.text}}
                </a>
            </li>
        </ul>
