<div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.secundary %>">
    <!--Breadcrumb and Table Options-->
    <div class="breadcrumb-line">

        <ul ng-if="!<%= scope %>.headertitle" class="breadcrumb visible-lg visible-md"
            ng-show="!<%= scope %>.modal.isOpen()" dragonlanguage="">
            <li ng-repeat="(key, menu) in <%= scope %>.MENU.parents track by key">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{menu.icon}} position-left"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
                    <li ng-repeat="(subkey, submenu) in menu.childs track by subkey"
                        class="{{<%= scope %>.sameHref(submenu,'bg-<%= COLOR.extra %>-300')||''}}">
                        <a href="{{<%= scope %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                           class="">
                            <i class="{{submenu.icon}}"></i>{{submenu.text}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
                    {{<%= scope %>.MENU.menu.text}}
                </a>

            </li>
        </ul>
        <ul ng-if="<%= scope %>.headertitle" class="breadcrumb visible-lg visible-md" dragonlanguage="">
            <li ng-repeat="(key, menu) in <%= scope %>.MENU.parents track by key">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{menu.icon}} position-left"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
                    <li ng-repeat="(subkey, submenu) in menu.childs track by subkey"
                        class="{{<%= scope %>.sameHref(submenu,'bg-<%= COLOR.extra %>-300')||''}}">
                        <a href="{{<%= scope %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                           class="">
                            <i class="{{submenu.icon}}"></i>{{submenu.text}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a data-function="menu" href="javascript:void(0)">
                    {{<%= scope %>.headertitle}}
                </a>
            </li>
        </ul>