<style>
    .notsupportitem i {
        font-size: 140px;
    }
</style>
<script>
    var viewModel = MODAL.getViewData();
    <%= DATA.scope %>.galleryFiles = {};
    <%= DATA.scope %>.galleryFiles.viewModel = viewModel;
    <%= DATA.scope %>.galleryFiles.data = {};
    <%= DATA.scope %>.galleryFiles.data.files = [];
    <%= DATA.scope %>.galleryFiles.upload = false;
    <%= DATA.scope %>.galleryFiles.rootFolder = viewModel.root;
    <%= DATA.scope %>.galleryFiles.fileName = viewModel.file;
    var firstThis = true;
    <%= DATA.scope %>.galleryFiles.refresh = function () {
        var http = new HTTP();
        if (!firstThis) {
            $(`[data-dragonfile='/${viewModel.root}']:not(:hidden)`).each(function () {
                FILE.runServerFile($(this))
            });
        }
        BASEAPI.ajax.get(http.path(["files", "api"]), {folder: viewModel.root}, function (data) {
            for (var i in  data.data.files) {
                var file = data.data.files[i];
                data.data.files[i] = {
                    url: `${http.path([FOLDERS.files, viewModel.root])}/${file}`,
                    cleanUrl: http.cleanRoot(`${http.path([FOLDERS.files, viewModel.root])}/${file}`),
                    selected: false,
                    fileName: file,
                    original: file.split('___')[0],
                    ext: FILE.extension(file),
                }
                data.data.files[i].originalCrop = DSON.substringif(data.data.files[i].original, 12);
            }
            <%= DATA.scope %>.
            galleryFiles.data = data.data;
            <%= DATA.scope %>.
            galleryFiles.columns = (12 / viewModel.columns);
            <%= DATA.scope %>.
            refreshAngular();
            firstThis = false;
        });
    };
    <%= DATA.scope %>.galleryFiles.refresh();
    <%= DATA.scope %>.galleryFiles.isSingle = function () {
        return <%= DATA.scope %>.
        galleryFiles.viewModel.maxfiles == 1;
    };
    <%= DATA.scope %>.galleryFiles.reachMaxFiles = function () {
        return <%= DATA.scope %>.
        galleryFiles.data.files.length < <%= DATA.scope %>.
        galleryFiles.viewModel.maxfiles;
    };
    <%= DATA.scope %>.galleryFiles.uploadview = function (file) {
        <%= DATA.scope %>.
        galleryFiles.upload = !<%= DATA.scope %>.
        galleryFiles.upload;
    };
    <%= DATA.scope %>.galleryFiles.Icon = function (file) {
        if (DSON.oseaX(file))
            return "";
        if (FILE.isImage(file.fileName)) {
            return "image";
        } else {
            return FILE.fileToIcon(file.fileName);
        }
    };
    <%= DATA.scope %>.galleryFiles.view = function (file) {
        var load = new LOAD();
        if (FILE.isImage(file.fileName)) {
            load.template('templates/components/crop', {src: file.url}, function (html) {
                <%= DATA.scope %>.
                modal.simpleModal(html, {header: {title: MESSAGE.i('mono.preview')}});
            });
        } else {
            load.template('templates/components/object', {src: file.url}, function (html) {
                <%= DATA.scope %>.
                modal.simpleModal(html, {header: {title: MESSAGE.ic('mono.preview')}});
            });
        }
    };
    <%= DATA.scope %>.galleryFiles.check = function (file) {
        file.selected = !file.selected;
    };
    <%= DATA.scope %>.galleryFiles.allChecked = function () {
        var allSelected = <%= DATA.scope %>.
        galleryFiles.data.files.filter(function (file) {
            return !file.selected;
        });
        return allSelected.length === 0;
    };
    <%= DATA.scope %>.galleryFiles.allCheckedText = function () {
        return <%= DATA.scope %>.
        galleryFiles.allChecked() ? "UnCheck" : "Check";
    };

    <%= DATA.scope %>.galleryFiles.allCheckedIcon = function () {
        return !<%= DATA.scope %>.
        galleryFiles.allChecked() ? "checkbox-unchecked" : "checkbox-checked";
    };
    <%= DATA.scope %>.galleryFiles.checkAll = function () {
        if (<%= DATA.scope %>.
        galleryFiles.allChecked()
    )

        {
            for (var file of <%= DATA.scope %>.
            galleryFiles.data.files
        )
            {
                file.selected = false;
            }
        }
    else
        {
            for (var file of <%= DATA.scope %>.
            galleryFiles.data.files
        )
            {
                file.selected = true;
            }
        }
    };
    <%= DATA.scope %>.galleryFiles.getIcon = function (file) {
        return !file.selected ? "checkbox-unchecked" : "checkbox-checked";
    };
    <%= DATA.scope %>.galleryFiles.deleteSelected = function () {

        var allSelected = <%= DATA.scope %>.
        galleryFiles.data.files.filter(function (file) {
            return file.selected;
        });
        STEP.register({
            scope: baseController.currentModel.modelName,
            action: `Deleted Selected ${allSelected.length} Files`,
            field: viewModel.root
        });
        <%= DATA.scope %>.
        galleryFiles.delete(allSelected);
    };
    <%= DATA.scope %>.galleryFiles.delete = function (files) {
        STEP.register({
            scope: baseController.currentModel.modelName,
            action: `Deleted ${files.cleanUrl} File`,
            field: viewModel.root
        });
        var finalArray = [];
        if (!Array.isArray(files)) {
            finalArray.push(files.cleanUrl);
        } else
            for (var i in files) {
                finalArray.push(files[i].cleanUrl);
            }
        SWEETALERT.confirm({
            message: MESSAGE.i('alerts.AYSDeleteFile'),
            confirm: function () {
                SWEETALERT.loading({message: MESSAGE.ic('mono.deleting')});
                BASEAPI.ajax.post(new HTTP().path(["files", "api", "delete"]), {filename: finalArray}, function (data) {
                    SWEETALERT.stop();
                    if (data.data.deleted) {
                        <%= DATA.scope %>.
                        galleryFiles.refresh();
                    }
                });
            }
        });
    };

    <%= DATA.scope %>.galleryFiles.downloadAll = function () {
        STEP.register({
            scope: baseController.currentModel.modelName,
            action: `Download All`,
            field: viewModel.root
        });
        SWEETALERT.confirm({
            message: MESSAGE.i('alerts.AYSDownloadAll'),
            confirm: function () {
                var http = new HTTP();
                SWEETALERT.loading({message: MESSAGE.i('mono.Preparingdownloadforfiles')});
                BASEAPI.ajax.get(http.path(["files", "api", "download"]), {
                    folder: viewModel.root,
                    name: MODAL.current().header.title + ".zip"
                }, function (data) {
                    SWEETALERT.stop();

                    var url = http.path(["files", viewModel.root, MODAL.current().header.title + ".zip"]);
                    DOWNLOAD.fileUrl(url, MODAL.current().header.title + ".zip");
                });
            }
        });
    };
</script>
<div dragonlanguage=""
     ng-show="<%= DATA.scope %>.galleryFiles.columns && <%= DATA.scope %>.galleryFiles.data.files.length<=0"
     class="alert alpha-<%= COLOR.secundary %> border-<%= COLOR.secundary %> alert-styled-left">
    <language>MESSAGE.i('mono.Thereisnofilestoshow')</language>
</div>

<div class="btn-group btn-group-justified">


    <div class="btn-group" ng-show="<%= DATA.scope %>.galleryFiles.reachMaxFiles()">
        <button title="Upload" ng-click="<%= DATA.scope %>.galleryFiles.uploadview()" type="button"
                ng-show="<%= DATA.scope %>.allow('file.upload')"
                class="btn bg-<%= COLOR.secundary %>-600 btn-icon">
            <span class="icon-upload"></span>
        </button>
    </div>

    <div class="btn-group"
         ng-show="!<%= DATA.scope %>.galleryFiles.isSingle() && <%= DATA.scope %>.allow('file.download')">
        <button title="Download All" ng-click="<%= DATA.scope %>.galleryFiles.downloadAll()" type="button"
                class="btn bg-<%= COLOR.secundary %>-600 btn-icon">
            <span class="icon-download"></span>
        </button>
    </div>

    <div class="btn-group" ng-show="!<%= DATA.scope %>.galleryFiles.isSingle()">
        <button title="{{<%= DATA.scope %>
            .galleryFiles.allCheckedText()}} All" ng-click="<%= DATA.scope %>.galleryFiles.checkAll()" type="button"
                ng-show="<%= DATA.scope %>.allow(['file.remove','file.download','file.upload'])"
                class="btn bg-<%= COLOR.secundary %>-600 btn-icon">
            <span class="icon-{{<%= DATA.scope %>.galleryFiles.allCheckedIcon()}}"></span>
        </button>

    </div>

    <div class="btn-group"
         ng-show="!<%= DATA.scope %>.galleryFiles.isSingle() && <%= DATA.scope %>.allow('file.remove')">
        <button title="Remove Seleted" ng-click="<%= DATA.scope %>.galleryFiles.deleteSelected()" type="button"
                class="btn bg-<%= COLOR.secundary %>-600 btn-icon">
            <span class="icon-trash"></span>
        </button>
    </div>


</div>
<div class="panel panel-flat"
     ng-show="(<%= DATA.scope %>.galleryFiles.upload && <%= DATA.scope %>.galleryFiles.columns) && <%= DATA.scope %>.galleryFiles.reachMaxFiles()">
    <div class="panel-heading">
        <h5 dragonlanguage class="panel-title">
            <language>MESSAGE.i('alerts.SelectorDropFiles')</language>
        </h5>
    </div>
    <div class="panel-body">
        <form class="dropzone" id="filesForm" method="post" enctype="multipart/form-data">
            <input type="hidden" name="folder" value="{{<%= DATA.scope %>.galleryFiles.rootFolder}}">
            <input type="hidden" name="user" value="{{baseController.userID}}">
            <input type="hidden" name="filename" value="{{<%= DATA.scope %>.galleryFiles.fileName}}">
        </form>
    </div>
</div>
<div class="row" id="galleryFiles">
    <div class="col-md-{{<%= DATA.scope %>.galleryFiles.columns}}"
         ng-repeat="(key,file) in <%= DATA.scope %>.galleryFiles.data.files track by key">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="thumbnail" style="width: 100%">
                    <div class="thumb" style="width: 100%;min-height: 200px;">
                        <div ng-if="<%= DATA.scope %>.galleryFiles.Icon(file)!=='image'"
                             class="notsupportitem"
                             ng-bind-html="<%= DATA.scope %>.galleryFiles.Icon(file)"></div>
                        <object ng-if="<%= DATA.scope %>.galleryFiles.Icon(file)!=='image'" title="{{file.original}}"
                                style='height: auto;width: 200px'
                                data='{{file.url}}'></object>
                        <img ng-if="<%= DATA.scope %>.galleryFiles.Icon(file)==='image'"
                             style='max-height: 198px;width: 200px'
                             src='{{file.url}}'/>

                    </div>
                    <div class="panel-footer panel-footer-transparent">
                        <div style="padding-right: 0px;text-align: center;">
                            <strong>{{file.original}}</strong>
                        </div>
                        <div class="" style="padding-right: 0px;text-align: center;">

                            <a ng-click="<%= DATA.scope %>.galleryFiles.view(file)"
                               class="btn  border-<%= COLOR.primary %>-300 text-black btn-icon">
                                <i class="icon-zoomin3"></i>
                            </a>
                            <a href="{{file.url}}" download="{{file.original}}"
                               ng-show="<%= DATA.scope %>.allow('file.download')"
                               class="btn  border-<%= COLOR.primary %>-300 text-black btn-icon">
                                <i class="icon-download"></i>
                            </a>
                            <a ng-click="<%= DATA.scope %>.galleryFiles.delete(file)"
                               ng-show="<%= DATA.scope %>.allow('file.remove')"
                               class="btn  border-<%= COLOR.primary %>-300 text-black btn-icon">
                                <i class="icon-trash"></i>
                            </a>
                            <a ng-click="<%= DATA.scope %>.galleryFiles.check(file)"
                               ng-show="<%= DATA.scope %>.allow(['file.remove','file.download','file.upload'])"
                               class="btn  border-<%= COLOR.primary %>-300 text-black btn-icon">
                                <i class="icon-{{<%= DATA.scope %>.galleryFiles.getIcon(file)}} position-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var http = new HTTP();
        $("#filesForm").attr('action', http.path(["files", "api", "upload"]));
        var myDropzone = $("#filesForm").dropzone({
            paramName: "toupload", // The name that will be used to transfer the file
            dictDefaultMessage: MESSAGE.i('alerts.upload'),
            maxFilesize: viewModel.maxsize || 20, // MB
            maxFiles: viewModel.maxfiles || 20,
            acceptedFiles: viewModel.acceptedFiles || null,
            init: function () {
                this.on('complete', function (file) {
                    this.removeFile(file);

                    STEP.register({
                        scope: baseController.currentModel.modelName,
                        action: "Upload File",
                        field: viewModel.root
                    });

                    <%= DATA.scope %>.
                    galleryFiles.uploadview();
                    <%= DATA.scope %>.
                    galleryFiles.refresh();
                });
                this.on('completemultiple', function (file) {
                    <%= DATA.scope %>.
                    galleryFiles.refresh();
                });
            }
        });
    });
</script>