<script>
    <%= scope %>.searchPermission = "";
    <%= scope %>.allcheck = function (value) {
        SWEETALERT.loading({message: MESSAGE.i('actions.Loading')});
        for (var i in <%= scope %>.
        permissions
    )
        {
            DSON.allvalue(<%= scope %>.permissions[i].allow, value
        )
            ;
        }
        SWEETALERT.stop();
    }
</script>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-flat">

            <div class="panel-heading border-bottom-<%= COLOR.secundary %>">
                <h6 class="panel-title" dragonlanguage="">
                    <language>MESSAGE.i('mono.persmissionTitle')</language>

                </h6>
                <div class="heading-elements">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control input-xlg" ng-model="<%= scope %>.searchPermission"
                               dragonlanguage="" placeholder="MESSAGE.ic('mono.search')">
                        <div class="form-control-feedback center-icon">
                            <i class="icon-search4"></i>
                        </div>


                    </div>
                </div>

            </div>
            <div class="panel-footer"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
                    <ul class="pull-left inidcador" style="margin-bottom: 8px;">
                        <li>
                            <span class="indicador-padding btn border-<%= COLOR.success %> text-<%= COLOR.success %> btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>Todos los permisos activos</language>
                            </label>
                        </li>
                        <li>
                            <span class="indicador-padding btn border-warning text-warning btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>Algunos permisos activos</language>
                            </label>
                        </li>
                        <li>
                            <span class="indicador-padding btn text-<%= COLOR.danger %>-800 border-<%= COLOR.danger %> btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>No hay permisos activos</language>
                            </label>
                        </li>
                    </ul>
                    <button dragonlanguage="" ng-click="<%= scope %>.allcheck(true)"
                            class="btn bg-<%= COLOR.primary %> btn-labeled pull-right">
                        <b><i class="icon-checkbox-checked"></i></b>
                        <language>MESSAGE.i('mono.checkall')</language>
                    </button>


                    <button dragonlanguage="" ng-click="<%= scope %>.allcheck(false)"
                            class="btn bg-<%= COLOR.primary %> btn-labeled pull-right">
                        <b><i class="icon-checkbox-unchecked"></i></b>
                        <language>MESSAGE.i('mono.uncheckall')</language>
                    </button>
                </div>
            </div>
            <div class="subcontent" style="margin-top: 10px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mt-10"
                             ng-show="<%= scope %>.searchPermission.toLowerCase()==='' || <%= scope %>.moduleName(key).toLowerCase().indexOf(<%= scope %>.searchPermission.toLowerCase())!==-1"
                             ng-repeat="(key,module) in <%= scope %>.permissions">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <a href="#"
                                       style="min-width: 100%;"
                                       class="indicador-padding btn border-{{<%= scope %>.moduleColor(module.allow)}} text-{{<%= scope %>.moduleColor(module.allow)}} btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple"
                                       data-toggle="dropdown">
                                        <i class="icon-arrow-down5"></i>
                                        {{<%= scope %>.moduleNameShort(key,10)}}
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-left"
                                        style="width: 100%; min-width: 438px!important; margin-top: 0; float: none;">
                                        <li>
                                            <label>{{<%= scope %>.moduleName(key)}}</label>
                                        </li>
                                        <li ng-if="!<%= scope %>.isObject(module.allow[aKey])"
                                            ng-repeat="(aKey,action) in module.allow"
                                            class="col-md-4 col-sm-12">
                                            <a href="#<%= scope %>" class="">
                                                <div class="">
                                                    <label>
                                                        <input type="checkbox" class="switchery" checked="checked"
                                                               ng-model="module.allow[aKey]">
                                                        {{<%= scope %>.moduleName(aKey)}}
                                                    </label>
                                                </div>
                                            </a>
                                        </li>
                                        <ul ng-if="<%= scope %>.isObject(module.allow[aKey])"
                                            ng-repeat="(aKey,action) in module.allow"
                                            style="width: 100%; float: left;padding-left: 0;">
                                            <li class="sub-permission col-md-12 col-sm-12"
                                                style="padding-left: 23px;font-size: 15px;">{{<%= scope %>
                                                .moduleName(aKey)}}
                                            </li>
                                            <li ng-if="!<%= scope %>.isObject(module.allow[aKey][saKey])"
                                                ng-repeat="(saKey,sub) in action"
                                                class="col-md-4 col-sm-12 sub-permission">
                                                <a href="#<%= scope %>" class="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="switchery" checked="checked"
                                                                   ng-model="module.allow[aKey][saKey]">
                                                            {{<%= scope %>.moduleName(saKey)}}
                                                        </label>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--lista de actions-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
                    <ul class="pull-left inidcador" style="margin-bottom: 8px;">
                        <li>
                            <span class="indicador-padding btn border-<%= COLOR.success %> text-<%= COLOR.success %> btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>Todos los permisos activos</language>
                            </label>
                        </li>
                        <li>
                            <span class="indicador-padding btn border-warning text-warning btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>Algunos permisos activos</language>
                            </label>
                        </li>
                        <li>
                            <span class="indicador-padding btn text-<%= COLOR.danger %>-800 border-<%= COLOR.danger %> btn-flat btn-rounded btn-icon btn-xs valign-text-bottom legitRipple">
                                <i class="icon-checkmark3"></i>
                            </span>
                            <label class="text-muted">
                                <language>No hay permisos activos</language>
                            </label>
                        </li>
                    </ul>


                    <button onclick="MODAL.close()" type="button"
                            class="btn bg-<%= COLOR.warning %> btn-labeled pull-right"
                            dragonlanguage><b><i class="icon-cross2"></i></b>
                        <language>MESSAGE.i('mono.cancel')</language>
                    </button>
                    <button ng-click="<%= scope %>.savePermission()" type="button"
                            class="btn bg-<%= COLOR.success %> btn-labeled pull-right"
                            dragonlanguage><b><i class="icon-floppy-disk"></i></b>
                        <language>MESSAGE.i('mono.save')</language>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setInterval(function () {
        $(".switchery").uniform({
            radioClass: 'choice',
            wrapperClass: `border-${COLOR.primary}-600 text-${COLOR.primary}-800`
        });
    }, 100)

</script>
