<!-- Error title -->
<script>
    <%= scope %>.httpError.hideError = true;
    <%= scope %>.isServer = function () {
        return  <%= scope %>.
        httpError.data.indexOf("FORM is not defined") !== 1;
    };
</script>
<div class="row" ng-show="!<%= scope %>.httpError.hideError">
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <form action="#" class="main-search panel panel-body">
            <div class="text-center">
                <a ng-click="<%= scope %>.modal.close();" class="btn bg-<%= COLOR.primary %>-400" dragonlanguage>
                    <i class="icon-circle-left2 position-left"></i>
                    <language>MESSAGE.i('actions.Back')</language>
                </a>
            </div>
        </form>
    </div>
</div>
<!-- /error wrapper -->


<div class="text-center content-group" ng-show="<%= scope %>.httpError.hideError" dragonlanguage="">

    <h1 ng-show="!<%= scope %>.isServer()" class="error-title">{{<%= scope %>.httpError.status}}</h1>
    <h1 ng-show="<%= scope %>.isServer()" class="">
        <language>MESSAGE.ic("error.isserver")</language>
    </h1>
    <h5 ng-show="!<%= scope %>.isServer()" ng-dblclick="<%= scope %>.httpError.hideError=false;">
        Oops, an error has occurred. {{<%= scope %>.httpError.statusText}}!</h5>
</div>
<div ng-show="!<%= scope %>.httpError.hideError" ng-bind-html="<%= scope %>.httpError.data">

</div>
<!-- /error title -->


<!-- Error content -->
<div class="row" ng-show="<%= scope %>.httpError.hideError">
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <form action="#" class="main-search panel panel-body">
            <div class="text-center">
                <a ng-show="!<%= scope %>.isServer()" ng-click="<%= scope %>.modal.close();"
                   class="btn bg-<%= COLOR.primary %>-400" dragonlanguage="">
                    <i class="icon-circle-left2 position-left"></i>
                    <language>MESSAGE.i('actions.Back')</language>
                </a>
                <a ng-show="<%= scope %>.isServer()" onclick="location.reload()"
                   class="btn bg-<%= COLOR.primary %>-400" dragonlanguage="">
                    <i class="icon-circle-left2 position-left"></i>
                    <language>MESSAGE.i('mono.reload')</language>
                </a>
            </div>
        </form>
    </div>
</div>
<script>
    <%= scope %>.refreshAngular();
</script>
<!-- /error wrapper -->
