<%
var name = name || "";
var options = {
    placeholder: params.capitalize(name),
    icon: {
        class: "calendar",
        position: "left",
        color: COLOR.primary
    },
    helptext: '',
    format: 'd/m/Y h:i',
    posttype: "datetime",
    timepicker: true,
    datepicker: true,
    lang: 'en',
    inline: false,
    allowTimes: [],
    minDate: "",
    maxDate: "",
    mask: false

};
if (options.timepicker === false)
    options.posttype = 'date';
if (options.datepicker === false)
    options.posttype = 'time';
options = OBJECT.merge(options, opts);
var toclient = JSON.stringify(options);
%>
<script>
    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>");
    <%= model %>.form.registerField("<%= name %>Clean", "<%= toclient %>");
</script>
<div class="form-group-material form-group has-feedback has-{{<%= model %>.validation.getType('<%= name %>')}}  has-feedback-{{<%= model %>.form.options.<%= name %>.icon.position}}"
     id="input<%= name %>">
    <label
            class="control-label {{<%= model %>.form.LabelVisible('<%= name %>')?'is-visible animate':''}}">
        {{<%= model %>.form.options.<%= name %>.placeholder}}
    </label>
    <input
            ng-model="<%= model + "." + name %>"
            id="<%= name %>"
            name="<%= name %>"
            type="text"
            class="form-control"
            placeholder="{{<%= model %>.form.options.<%= name %>.placeholder}}"
    >

    <div style="margin: 10px;" class="form-control-feedback">
        <i class="icon-{{<%= model %>.form.options.<%= name %>.icon.class}} text-{{<%= model %>.validation.getColor('<%= name %>',<%= model %>.form.options.<%= name %>.icon.color)}}">

        </i>
    </div>
    <span ng-show="<%= model %>.form.options.<%= name %>.helptext!=''"
          class="help-block text-muted">
        {{<%= model %>.form.options.<%= name %>.helptext}}
    </span>

    <span ng-show="<%= model %>.validation.getMessages('<%= name %>').length>0" class="help-block">
        <p class="text-{{$eval(validation).type}}"
           ng-repeat="validation in <%= model %>.validation.getMessages('<%= name %>')">
               <i class="{{$eval(validation).icon}}"></i> {{$eval(validation).message}}
        </p>
    </span>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#<%= name %>').datetimepicker({
            format: '<%= options.format %>',
            timepicker: <%= options.timepicker %>,
            datepicker: <%= options.datepicker %>,
            lang: "<%= options.lang %>",
            inline: <%= options.inline %>,
            validateOnBlur: false,
            <%= options.allowTimes.length > 0 ? "allowTimes :" + JSON.stringify(options.allowTimes) + "," : "" %>
            <%= options.maxDate !== "" ? "maxDate:'" + options.maxDate + "'," : "" %>
            <%= options.minDate !== "" ? "minDate:'" + options.minDate + "'," : "" %>
            mask: <%= options.mask %>,
            onChangeDateTime: function (currentDateTime) {
                if(<%= model %>.form.options.<%= name %>.datepicker===false){
                    <%= model %>.<%= name %>Clean = moment(currentDateTime).format("H:mm");
                }else if(<%= model %>.form.options.<%= name %>.timepicker===false){
                        <%= model %>.<%= name %>Clean = moment(currentDateTime).format("YYYY-MM-DD");
                }else{
                    <%= model %>.<%= name %>Clean = moment(currentDateTime).format("YYYY-MM-DD H:mm");
                }

            }
        });
    });
</script>