<%
var name = name || "";
var options = {
    placeholder: params.capitalize(name),
    icon: {
        class: "calendar",
        position: "left",
        color: COLOR.primary
    },
    helptext: '',
    format: 'd/m/Y h:i',
    callformat: 'DD/MM/YYYY hh:mm a',
    posttype: "datetime",
    timepicker: true,
    datepicker: true,
    lang: 'en',
    inline: false,
    allowTimes: [],
    minDate: "",
    maxDate: "",
    mask: false,
    disabled: false,

};
if (options.timepicker === false)
    options.posttype = 'date';
if (options.datepicker === false)
    options.posttype = 'time';
options = OBJECT.merge(options, opts);
var toclient = JSON.stringify(options);

%>
<script>
    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>");
    <%= model %>.form.registerField("<%= name %>_DragonClean", "<%= toclient %>");
    var isReadProgram = <%= model %>.form.isReadOnly('<%= name %>');
    if(isReadProgram!==false){
        <%= model %>.form.options.<%= name %>.disabled = true;
        if(isReadProgram!==undefined){
            <%= model %>.<%= name %>_DragonClean = isReadProgram;
            if(<%= model %>.form.options.<%= name %>.datepicker===false){
                <%= model %>.<%= name %> = moment(new Date(isReadProgram)).format("hh:mm a");
            }else if(<%= model %>.form.options.<%= name %>.timepicker===false){
                <%= model %>.<%= name %> = moment(new Date(isReadProgram)).format("DD/MM/YYYY");
            }else{
                <%= model %>.<%= name %> = moment(new Date(isReadProgram)).format("DD/MM/YYYY hh:mm a");
            }
        }
    }
</script>
<div class="form-group-material form-group has-feedback  has-feedback-{{<%= model %>.form.options.<%= name %>.icon.position}}"
     id="input<%= name %>">
    <label
            class="control-label {{<%= model %>.form.LabelVisible('<%= name %>')?'is-visible animate':''}}">
        {{<%= model %>.form.options.<%= name %>.placeholder}}
    </label>
    <input
            ng-model="<%= model + "." + name %>"
            id="<%= model %>_<%= name %>"
            name="<%= model %>_<%= name %>"
            type="text"
            class="form-control"
            ng-disabled="<%= model %>.form.options.<%= name %>.disabled"
            placeholder="{{<%= model %>.form.options.<%= name %>.placeholder}}"
    >

    <div style="margin: 10px;" class="form-control-feedback">
        <i class="icon-{{<%= model %>.form.options.<%= name %>.icon.class}} text-{{<%= model %>.validation.getColor('<%= name %>',<%= model %>.form.options.<%= name %>.icon.color)}}">

        </i>
    </div>
    <span ng-if="<%= model %>.form.options.<%= name %>.helptext!=''"
          class="help-block text-muted">
        {{<%= model %>.form.options.<%= name %>.helptext}}
    </span>

    <span ng-show="<%= model %>.validation.getMessages('<%= name %>').length>0" class="help-block">
        <p class="text-{{$eval(validation).type}}"
           ng-repeat="(key,validation) in <%= model %>.validation.getMessages('<%= name %>') track by key">
               <i class="{{$eval(validation).icon}}"></i> {{$eval(validation).message}}
        </p>
    </span>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#<%= model %>_<%= name %>').datetimepicker({
            format: '<%= options.format %>',
            timepicker: <%= options.timepicker %>,
            datepicker: <%= options.datepicker %>,
            lang: "<%= options.lang %>",
            inline: <%= options.inline %>,
            validateOnBlur: false,
            <%= options.allowTimes.length > 0 ? "allowTimes :" + JSON.stringify(options.allowTimes) + "," : "" %>
            <%= options.maxDate !== "" ? "maxDate:'" + options.maxDate + "'," : "" %>
            <%= options.minDate !== "" ? "minDate:'" + options.minDate + "'," : "" %>
            mask: <%= options.mask %>,
            onChangeDateTime: function (currentDateTime) {
                if(<%= model %>.form.options.<%= name %>.datepicker===false){
                    <%= model %>.<%= name %>_DragonClean = moment(currentDateTime).format("H:mm");
                }else if(<%= model %>.form.options.<%= name %>.timepicker===false){
                        <%= model %>.<%= name %>_DragonClean = moment(currentDateTime).format("YYYY-MM-DD");
                }else{
                    <%= model %>.<%= name %>_DragonClean = moment(currentDateTime).format("YYYY-MM-DD H:mm a");
                }

                $("#input<%= name %>").removeClass('has-warning has-error has-success');
                $("#input<%= name %>").addClass('has-' + <%= model %>.validation.getType('<%= name %>'));
            }
        });
        setTimeout(function () {
            $("#input<%= name %>").addClass('has-' + <%= model %>.validation.getType('<%= name %>'));
        }, 100);
    });
</script>