<%
var name = name || "";
var options = {
    placeholder: params.capitalize(name),
    type: "text",
    icon: {
        class: "html5",
        position: "left",
        color: TAG.table+"-800"
    },
    helptext: '',
    readonly: false,
    disabled: false,
    autocomplete: '',
    posttype: "html"
    //maxlength: 10,

};
options = OBJECT.merge(options, opts);
options.autocomplete = options.autocomplete ? "autocomplete='Off'" : '';
options.model = options.model ? options.model : false;
var toclient = JSON.stringify(options);
%>
<script>
    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>");

</script>
<div class="form-group-material form-group has-feedback has-{{<%= model %>.validation.getType('<%= name %>')}}  has-feedback-{{<%= model %>.form.options.<%= name %>.icon.position}}"
     id="input<%= name %>">
    <label

            class="control-label is-visible animate">
        {{<%= model %>.form.options.<%= name %>.placeholder}}
    </label>
    <textarea
            ng-model="<%= model + "." + name %>" name="<%= model %>_<%= name %>"
            ng-readonly="<%= model %>.form.options.<%= name %>.readonly"
            ng-disabled="<%= model %>.form.options.<%= name %>.disabled"
            maxlength="{{<%= model %>.form.options.<%= name %>.maxlength}}"
            type="{{<%= model %>.form.options.<%= name %>.type}}"
            <%= options.model ? "value='{{" + options.model + "}}'" : "" %>
            class="wysihtml5 form-control"
            placeholder="{{<%= model %>.form.options.<%= name %>.placeholder}}"></textarea>

    <div class="form-control-feedback">
        <i class="icon-{{<%= model %>.form.options.<%= name %>.icon.class}} text-{{<%= model %>.validation.getColor('<%= name %>',<%= model %>.form.options.<%= name %>.icon.color)}}">

        </i>
    </div>
    <span ng-if="<%= model %>.form.options.<%= name %>.helptext!=''"
          class="help-block text-muted">
        {{<%= model %>.form.options.<%= name %>.helptext}}
    </span>

    <span ng-show="<%= model %>.validation.getMessages('<%= name %>').length>0" class="help-block">
       <p class="text-{{$eval(validation).type}}"
          ng-repeat="(key,validation) in <%= model %>.validation.getMessages('<%= name %>') track by key">
               <i class="{{$eval(validation).icon}}"></i> {{$eval(validation).message}}
        </p>
    </span>
</div>
<script>
    $(document).ready(function () {

        var isReadProgram = <%= model %>.form.isReadOnly('<%= name %>');
        if(isReadProgram!==false){
            <%= model %>.form.options.<%= name %>.disabled = true;
            if(isReadProgram!==undefined){
                <%= model %>.<%= name %> = isReadProgram;
                $('[name="<%= model %>_<%= name %>"]').val(isReadProgram);
            }
        }

        $('[name="<%= model %>_<%= name %>"]').summernote({
            callbacks: {
                onKeydown: function(e) {
                    <%= model %>.<%= name %> = $(this).val();
                }
            }
        });

        if(isReadProgram!==false){
            <%= model %>.form.options.<%= name %>.disabled = true;
            if(isReadProgram!==undefined){
                $('[name="<%= model %>_<%= name %>"]').summernote('disable');
            }
        }



        $('[name="<%= model %>_<%= name %>"]').on('summernote.change', function(we, contents, $editable) {
            $(".map-wrapper").hide();
            STEP.register({
                    scope: "<%= model %>",
                    action: "Change HTML",
                    field: "<%= name %>"
            });
            <%= model %>.<%= name %> = $(this).val();
        });

        $(".link-dialog input[type=checkbox], .note-modal-form input[type=radio]").uniform({
            radioClass: 'choice'
        });
        $(".note-image-input").uniform({
            fileButtonClass: 'action btn bg-warning-400'
        });



    });
</script>