<%
var name = name || "";
var options = {
    label: params.capitalize(name),
    default: 'Select ' + params.capitalize(name),
    icon: {
        class: "none",
        position: "left",
        color: TAG.table + "-800"
    },
    allownull: true,
    allownew: true,
    allowedit: true,
    allowview: true,
    allowlist: true,
    refresh: true,
    multiple: false,
    disabled: false,
    helptext: '',
    value: "id",
    text: "item.name",
    //table: "",
    get: {
        table: '',
        field: ''
    },
    parent: false,
    childs: false,
    query: {
        limit: 0,
        page: 1,
        where: [],
        orderby: "id",
        order: "asc",
        distinct: false
        // join: [
        //     {
        //         table: "ms_category",
        //         base: "category",
        //         field: "id",
        //         columns: ["id", "name"]
        //     },
        //     {
        //         table: "otratable",
        //         base: "ms_category_id",
        //         field: "id",
        //         columns: ["id", "name"]
        //     }
        // ]
    },
    groupby: "",
    data: [],
    posttype: "select"
};
options = OBJECT.merge(options, opts);
var nameclean = name.replace(/\./g,'_');
options.model = options.model ? options.model : false;
options.permission = options.permission || "CRUD_" + options.table;
var toclient = JSON.stringify(options);
%>
<script>



    if (DSON.oseaX(<%= model + "." + name %>))
            <%= model + "." + name %> = "[NULL]";

    <% if(options.multiple){ %>
        <%= model %>.form.schemas.insert["<%= name %>"] =FORM.schemasType.selectMultiple;
        <%= model %>.form.schemas.select["<%= name %>"] =`{
                    toTable: "<%= options.table %>",
                    text: MESSAGE.i('actions.Loading'),
                    fields: {
                        <%= options.get.fieldTo %>: "$id",
                    },
                }`;
    <% } %>

    <%= model %>.form.registerField("<%= name %>", "<%= toclient %>", "'[NULL]'");
    <%= model %>.form.options.<%= name %>.default = `${MESSAGE.ic('mono.select')} <%= name %>`;
    if (MESSAGE.exist('columns.<%= nameclean %>')) {
        <%= model %>.
        form.options.<%= name %>.label = MESSAGE.i('columns.<%= nameclean %>');
        <%= model %>.
        form.options.<%= name %>.default = `${MESSAGE.ic('mono.select')} ` + MESSAGE.i('columns.<%= nameclean %>');
    }


    var isReadProgram = <%= model %>.form.isReadOnly('<%= name %>');
    if (isReadProgram !== false) {
        <%= model %>.
        form.options.<%= name %>.disabled = true;
        if (isReadProgram !== undefined) {
            <%= model %>.<%= name %> = isReadProgram;
        }
    }
    <%= model %>.form.loadDropDown("<%= name %>");

    var permissions = eval('<%= options.permission %>');
    if (!permissions.table.allow.edit)
            <%= model %>.
    form.options.<%= name %>.allowedit = false;
    if (!permissions.table.allow.view)
            <%= model %>.
    form.options.<%= name %>.allowview = false;
    if (!permissions.table.allow.add)
            <%= model %>.
    form.options.<%= name %>.allownew = false;
</script>
<div id="<%= options.table %>" ng-controller="<%= options.table %> as <%= options.table %>">
    <div class="form-group-material form-group has-feedback has-{{<%= model %>.validate['<%= name %>'].type || <%= model %>.defaultColor }}  has-feedback-{{<%= model %>.form.options.<%= name %>.icon.position}}"
         id="input<%= model %>_<%= nameclean %>">
        <label  class="control-label is-visible animate">
            {{<%= model %>.form.options.<%= name %>.label}}
        </label>

        <% if(options.allowlist){ %>
            <a dragonlanguage="" title="MESSAGE.ic('mono.list')" id="list<%= model %>_<%= nameclean %>"
               class="label bg-<%= TAG.table %> label-icon"
               style="float: right;">
                <i class="icon-list"></i>
            </a>
        <% } %>

        <% if(!options.multiple){ %>
            <a dragonlanguage="" title="MESSAGE.i('mono.Viewitem')"
               ng-show="<%= model + "." + name %>!='[NULL]' && <%= model %>.form.options.<%= name %>.allowview"
               id="view<%= model %>_<%= nameclean %>"
               class="label bg-<%= TAG.table %> label-icon"
               style="float: right;margin-right: 10px;">
                <i class="icon-eye"></i>
            </a>
        <% } %>

        <a dragonlanguage="" title="MESSAGE.i('mono.Edititem')"
           ng-show="<%= model + "." + name %>!='[NULL]' &&  <%= model %>.form.options.<%= name %>.allowedit"
           id="edit<%= model %>_<%= nameclean %>"
           class="label bg-<%= TAG.table %> label-icon"
           style="float: right;margin-right: 10px;">
            <i class="icon-pencil"></i>
        </a>


        <a dragonlanguage="" title="MESSAGE.i('mono.Additem')" id="new<%= model %>_<%= nameclean %>"
           ng-show="<%= model %>.form.options.<%= name %>.allownew"
           class="label bg-<%= TAG.table %> label-icon"
           style="float: right;margin-right: 10px;">
            <i class="icon-plus-circle2"></i>
        </a>

        <% if(options.refresh){ %>
            <a dragonlanguage="" title="MESSAGE.i('mono.RefreshList')" id="reload<%= model %>_<%= nameclean %>"
               class="label bg-<%= TAG.table %> label-icon"
               style="float: right;margin-right: 10px;">
                <i class="icon-reload-alt"></i>
            </a>
        <% } %>

        <select
                <%= options.multiple ? "multiple='multiple'" : "" %>
                style="display: inline;"
                ng-model="<%= model + "." + name %>"
                name="<%= model %>_<%= nameclean %>"
                ng-disabled="<%= model %>.form.options.<%= name %>.disabled"
                class="form-control bootstrap-select">
            <% if(!options.allownull){ %>
                <option></option>
            <% }else{ %>
                <% if(!options.multiple){ %>
                    <option value="[NULL]" data-icon="blocked">---</option>
                <% } %>
            <% } %>

            <% if(options.groupby){ %>
                <optgroup ng-repeat="(key,categories) in <%= model %>.form.options.<%= name %>.groupbydata track by key"
                          label="{{key}}">
                    <option data-object="{{item}}" ng-repeat="(i,item) in categories" value="item.{{<%= options.value %>}} track by i">
                        {{<%= options.text %>}}
                    </option>
                </optgroup>
            <% } else{ %>
                <option data-object="{{item}}" ng-repeat="(key,item) in <%= model %>.form.options.<%= name %>.data track by key"
                        value="{{item.<%= options.value %>}}">
                    {{<%= options.text %>}}
                </option>
            <% } %>
        </select>


        <div class="form-control-feedback">
            <i
                    id="icon<%= name %>"
                    class="icon-{{<%= model %>.form.options.<%= name %>.icon.class}} text-{{<%= model %>.validate['<%= name %>'].type || <%= model %>.defaultColor }}">

            </i>
        </div>
        <span ng-if="<%= model %>.form.options.<%= name %>.helptext!=''"
              class="help-block text-muted">
        {{<%= model %>.form.options.<%= name %>.helptext}}
    </span>
        <span ng-show="<%= model %>.validate['<%= name %>'].messages.length>0" class="help-block">
        <p class="text-{{validation.type}}"
           ng-repeat="(key,validation) in <%= model %>.validate['<%= name %>'].messages track by key">
               <i class="{{validation.icon}}"></i> {{validation.message}}
        </p>
    </span>
        <% if(options.multiple){ %>
            <div dragonlanguage=""
                 ng-show="<%= model + "." + name %>.length<=0 || <%= model + "." + name %>==='[NULL]' || <%= model + "." + name %>===null"
                 class="alert alpha-<%= TAG.table %>
                 border-<%= TAG.table %> alert-styled-left visible-md visible-lg">
                <language>MESSAGE.i('mono.Thereisnodataselected')</language>
            </div>

            <table ng-show="<%= model + "." + name %>.length>0 && <%= model + "." + name %>!=='[NULL]'"
                   class="table table-togglable table-framed visible-md visible-lg"
                   style="{{<%= options.table %>.funcWidth}}">
                <thead class="bg-<%= TAG.table %>">
                <tr class="bg-<%= TAG.table %>">
                    <th ng-repeat="(key, value) in <%= options.table %>.columns() track by key"
                        ng-show="<%= options.table %>.columnVisible(value)"
                        data-column="{{key}}">
                        <span ng-bind-html="<%= options.table %>.columnLabel(value,key)"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr

                        ng-repeat="(key, row) in <%= model %>.form.options.<%= name %>.data track by key"
                        data-object="{{row}}"
                        ng-show="<%= model + "." + name %>.indexOf(row.<%= options.value %>+'')!==-1"
                        class="{{<%= options.table %>.rowClass(row)}}">

                    <td ng-repeat="(key, value) in <%= options.table %>.columns() track by key"
                        ng-show="value.visible!=false"
                        class="{{::value.class || ''}} context-control"
                        style="{{::value.style || ''}}"
                        data-column="{{::key}}">

                        <span
                                ng-bind-html="<%= options.table %>.cellValue(key,value,row)"
                                ng-click="<%= options.table %>.cell.click(key,value,row)"
                        >

                        </span>
                    </td>

                </tr>
                </tbody>
            </table>
        <% } %>
    </div>
</div>
<script>
    $(document).ready(function () {
        <%= model %>.
        form.beginFunctions.push(`<%= model %>.form.loadDropDown("<%= name %>");`);
        <%= model %>.<%= name %>_object = {};
        $('[name="<%= model %>_<%= nameclean %>"]').change(function () {
            var selectedss = $(this).children("option:selected").data('object');

            <%= model %>.<%= name %>_object = selectedss;

            STEP.register({
                scope: "<%= model %>",
                action: "Change DropDown",
                field: "<%= name %>",
                value: <%= model %>.<%= name %>
            });

            $(".map-wrapper").hide();
        });

        $('#reload<%= model %>_<%= nameclean %>').click(function () {
            <%= model %>.
            form.loadDropDown("<%= name %>");
            return false;
        });
        $('#new<%= model %>_<%= nameclean %>').click(function () {
            <%= options.table %>.formulary(null, 'new');
            return false;
        });
        $('#list<%= model %>_<%= nameclean %>').click(function () {
            baseController.viewData = {};
            var modal = {
                    header: {
                        title: MESSAGE.i('mono.Listof') + <%= options.table %>.plural,
                    icon: ICON.classes.list
                },
                footer: {
                    cancelButton: true
                },
                content: {
                    loadingContentText: MESSAGE.i('actions.Loading'),
                }
        }
            <%= options.table %>.
            modal.modalView(String.format("{0}", "<%= options.table %>"), modal);
            return false;
        });

        $('#edit<%= model %>_<%= nameclean %>').click(function () {
            <%= options.table %>.formulary({
                where: [{
                    field: <%= 'CRUD_'+options.table %>.table.key,
                    value: <%= model %>.<%= name %>}]},FORM.modes.edit, {});
            return false;
        });
        $('#view<%= model %>_<%= nameclean %>').click(function () {
            <%= model %>.

            cell.openLink({column: "<%= options.column %>", value: <%= model %>.<%= name %>, field:"<%= name %>"});


            return false;
        });
    });
</script>