<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <style>
        .panel-body {
            margin-bottom: 20px;
        }
    </style>
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
        <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        <h1 style="text-align: center"> Dragon Documentation <%= CONFIG.version.documentation %></h1>
        <div class="subcontent">
            <div class="container-detached">
                <div class="content-detached">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Prerequisites</h5>
                            <div class="heading-elements">
                                <span class="text-muted heading-text">Prerequisites</span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <p class="content-group">
                                Install NodeJS:
                                <a target="_blank" href="https://nodejs.org/en/download/">
                                    https://nodejs.org/en/download/
                                </a>
                            </p>


                        </div>
                    </div>
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Download</h5>
                            <div class="heading-elements">
                                <span class="text-muted heading-text">Github</span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <p class="content-group">
                                Download from:
                                <a target="_blank" href="https://github.com/arodriguez810/dragonframework.git">
                                    https://github.com/arodriguez810/dragonframework.git
                                </a>
                            </p>
                            Install any of these database managers for local testing:
                            <ul>
                                <li>
                                    <a target="_blank"
                                       href="https://dev.mysql.com/doc/mysql-installation-excerpt/5.5/en/installing.html">
                                        MY SQL
                                    </a>
                                    Create example database and run <code>10-bootstrap\dbs\mysql.sql</code> script
                                </li>
                                <li>
                                    <a target="_blank"
                                       href="https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server?view=sql-server-2017">
                                        SQL Server
                                    </a>
                                    Create example database and run <code>10-bootstrap\dbs\mssql.sql</code> script
                                </li>
                                <li>
                                    <a target="_blank"
                                       href="https://www.oracle.com/technetwork/database/enterprise-edition/downloads/112010-win64soft-094461.html">
                                        Oracle Xg
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end-->