<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
        <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        <div class="subcontent">
            <div class="container-detached">
                <div class="content-detached">
                    <div class="panel panel-flat" id="v_1_6">
                        <div class="panel-heading">
                            <h5 class="panel-title">Download</h5>
                            <div class="heading-elements">
                                <span class="text-muted heading-text">Github</span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <p class="content-group">
                                Download from:
                                <a target="_blank" href="https://github.com/arodriguez810/peleaxz.git">
                                    https://github.com/arodriguez810/peleaxz.git
                                </a>
                            </p>
                            <pre class="language-javascript">
                                <code></code>
                            </pre>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div><!--end-->