<style>
    .image-cropper-container {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
</style>

<div class="form-group demo-cropper-toolbar">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button  type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="zoom" data-option="0.1"
                    >
                <span class="icon-zoomin3"></span>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="zoom" data-option="-0.1"
                    >
                <span class="icon-zoomout3"></span>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="rotate" data-option="-45"
                    >
                <span class="icon-rotate-ccw3"></span>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="rotate" data-option="45"
                    >
                <span class="icon-rotate-cw3"></span>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="scaleX" data-option="-1"
                    >
                <span class="icon-flip-vertical4"></span>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn bg-<%= TAG.table %> btn-icon" data-method="scaleY" data-option="-1"
                    >
                <span class="icon-flip-vertical3"></span>
            </button>
        </div>

        <div class="btn-group">
            <a class="btn bg-<%= TAG.table %> btn-icon" href="<%= DATA.src %>" id="downloadimage" download
               >
                <span class="icon-download"></span>
            </a>
        </div>
    </div>
</div>

<div class="image-cropper-container content-group">
    <img style="width: 100%" src="<%= DATA.src %>" alt="" class="cropper" id="cropper-image">
</div>


<script>
    var $cropper = $(".cropper"),
        options = {
            aspectRatio: 1,
            autoCrop: false,
            zoomOnWheel: false,
            movable: true
        };
    $download = $("#downloadimage");
    $cropper.cropper(options);
    $cropper.cropper('clear');
    $cropper.cropper("setDragMode", "move");
    $image = $('#cropper-image');

    result = null;
    $('.demo-cropper-toolbar').on('click', '[data-method]', function () {
        $cropper.cropper('clear');
        var $this = $(this),
            data = $this.data(),
            $target;

        if (data.method) {

            data = $.extend({}, data);
            if (typeof data.target !== 'undefined') {
                $target = $(data.target);

                if (typeof data.option === 'undefined') {
                    data.option = JSON.parse($target.val());
                }
            }
            result = $image.cropper(data.method, data.option, data.secondOption);

            switch (data.method) {
                case 'scaleX':
                case 'scaleY':
                    $(this).data('option', -data.option);
                    break;
            }

            if (result) {
                $download.attr('href', result.toDataURL('image/jpeg'));
            }
        }
    });
</script>