<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <script>
        MENUMODAL = true;
        if(DRAGONACTION==='new'){
            <%= scope %>.formulary(null,'new');
        } else
        if(DRAGONACTION==='edit'){
            <%= scope %>.formulary({
                where: [{
                    field: eval(`CRUD_${<%= scope %>.modelName}`).table.key,
                    value: DRAGONID
                }]
            }, FORM.modes.edit, {});
        } else if(DRAGONACTION==='view'){
            if (!DSON.oseaX(DRAGONID)) {
                <%= scope %>.dataForView = DRAGONID;
                <%= scope %>.modal.modalView(String.format("{0}/view", <%= scope %>.modelName), {
                    header: {
                        title: MESSAGE.i('mono.Viewof') + " " + <%= scope %>.plural,
                        icon: "user"
                    },
                    footer: {
                        cancelButton: true
                    },
                    content: {
                        loadingContentText: `${MESSAGE.i('actions.Loading')}...`,
                        sameController: true
                    },
                    event: {
                        show: {
                            begin: function (data) {
                                MENUMODAL = true;
                            },
                            end: function (data) {
                                MENUMODAL = true;
                            }
                        }
                    }
                });
            }
        }
        else if(DRAGONACTION==='list'){
            if (!DSON.oseaX(DRAGONID)) {
                <%= scope %>.dataForView = DRAGONID;
                <%= scope %>.modal.modalView(String.format("{0}", <%= scope %>.modelName), {
                    header: {
                        title: MESSAGE.i('mono.Listof') + " " + <%= scope %>.plural,
                    icon: "user"
                },
                    footer: {
                    cancelButton: true
                },
                content: {
                    loadingContentText: `${MESSAGE.i('actions.Loading')}...`,
                        sameController: true
                },
                event: {
                    show: {
                        begin: function (data) {
                            MENUMODAL = true;
                        },
                        end: function (data) {
                            MENUMODAL = true;
                        }
                    }
                }
            });
            }
        }
        else{
            <%= scope %>.modal.modalView(String.format("{0}/"+DRAGONACTION, <%= scope %>.modelName), {
                header: {
                    title: DRAGONID,
                    icon: ""
                },
                footer: {
                    cancelButton: true
                },
                content: {
                    loadingContentText: `${MESSAGE.i('actions.Loading')}...`,
                    sameController: true
                },
                event: {
                    show: {
                        begin: function (data) {
                            MENUMODAL = true;
                        },
                        end: function (data) {
                            MENUMODAL = true;
                        }
                    }
                }
            });
        }
    </script>
</div><!--end-->