<div id="dragon_information" ng-controller="dragon_information as dragon_information" style="text-align: center">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body text-center">
                <div class="">
                    <img style="width: 100px;float: left !important;" src="files/dragon_configuration/login/logo.png" alt="">
                </div>
                <h5 class="text-semibold">
                    <%= CONFIG.appName %> {{dragon_information.messageAbout}}
                </h5>
                <p class="mb-15" dragonlanguage="">
                    © <%= new Date().getFullYear() %>.
                    <%= CONFIG.appName %>
                    <language>MESSAGE.i('mono.by')</language>
                    <a class="text-muted" href="<%= CONFIG.developerBy.profile %>"
                       target="_blank"><%= CONFIG.developerBy.name %></a> -
                    <language>MESSAGE.ic('mono.baseversion')</language>
                    : <%= CONFIG.version.base %> -
                    <language>MESSAGE.ic('mono.version')</language>
                    : <%= CONFIG.version.app %>
                </p>
            </div>
        </div>
    </div>
</div><!--end-->
<script>
    dragon_information.refreshAngular();
</script>