<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.color('color', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.location('location', scope) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('bit', scope) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.file("images", scope, {
                    maxfiles: 50
                }) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <%- FORM.file("files", scope, {
                    maxfiles: 50
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.tags('tags', scope) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.html('html', scope) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





