<div class="row">
    <div class="col-sm-4 col-md-3  ">
        <%- FORM.input("config.smtp.host", scope, {maxlength: 50, placeholder: "Host", icon: {class: "none"}}) %>
    </div>

    <div class="col-sm-2 col-md-3  ">
        <%- FORM.input("config.smtp.port", scope, {
            maxlength: 4,
            isNumber: true,
            placeholder: "Port",
            icon: {class: "none"}
        }) %>
    </div>

    <div class="col-sm-4 col-md-3  ">
        <%- FORM.checkbox("config.smtp.secure", scope, {text: 'SSL', size: 'switchery-sm'}) %>
    </div>


</div>

<div class="row">
    <div class="col-sm-4 col-md-3  ">
        <%- FORM.input("config.smtp.auth.user", scope, {maxlength: 50, placeholder: "Email", icon: {class: "mail5"}}) %>
    </div>
    <div class="col-sm-4 col-md-3  ">
        <%- FORM.password("config.smtp.auth.pass", scope, {
            maxlength: 50,
            normal: true,
            placeholder: "Password",
            icon: {class: ""}
        }) %>
    </div>

    <div class="col-sm-4 col-md-3  ">
        <%- FORM.input("config.smptOptions.sender", scope, {
            maxlength: 50,
            normal: true,
            placeholder: "Sender",
            icon: {class: "mail5"}
        }) %>
    </div>

    <div class="col-sm-4 col-md-3  ">
        <%- FORM.input("config.smptOptions.name", scope, {
            maxlength: 50,
            normal: true,
            placeholder: "Sender Name",
            icon: {class: "mail5"}
        }) %>
    </div>

</div>



