<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('basic', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.money('money', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.percentage('percentage', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.password('normalpassword', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.password('normalpassword_confirm', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.password('passwordplus', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.password('passwordplus_confirm', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('textarea', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('num', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.phone('phone', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.phone('cellphone', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('integer', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('decimal', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.hour('hour', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.year('year', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('indentification', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.creditcard('creditcard', scope, {}) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





