<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
        <ul class="breadcrumb-elements visible-elements">
            <li dragonlanguage="">
                <a onclick="alert('Holaaaa')">
                    <i dragonlanguage="" title="MESSAGE.ic('mono.add')" class="icon-mail5"></i> 
                </a>
            </li>
        </ul>
        <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        <div class="subcontent">
            <%- FORM.mask("ver", scope, {
                mask: "integer"
            }) %>

            <%- FORM.datetime("record", scope, {
                timepicker: true,
                datepicker: false,
                format: 'h:i a',
                callformat: 'hh:mm a'
            }) %>
            Soy la logica y estoy en {{logica.record}} {{logica.new}}

            <% for(var menu in CONFIG.menus) { %>
                <br>
                <%- FORM.checkbox("active" + menu, scope, {text: 'Active?'}) %>

                <div ng-if="logica.active<%= menu %>===true">
                    <%= CONFIG.menus[menu].text %> - <%= CONFIG.menus[menu].href %>
                </div>
            <% } %>

            <div ng-repeat="(key,value) in logica.CRUDS">
                <br>
                {{value.name}} : {{value.obj.table.allow}}
            </div>

            <input ng-model="logica.config.name">
            <%- FORM.checkbox("config.estamuerto", scope, {text: 'Esta muerto?'}) %>
            <br>
            {{logica.config}}
        </div>
    </div>
</div><!--end-->

