<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('modelname', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('action', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('dataJson', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('date', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('version', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('ip', scope, {}) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





