<div id="<%= modelName %>" ng-controller="<%= modelName %> as <%= modelName %>">
    <div class="panel panel-flat">
        <%- include('../templates/table/header',{modelName:modelName}); %>
        <div class="subcontent">
            <%- include('../templates/table/base',{modelName:modelName}); %>
        </div>
    </div>
</div><!--end-->