<td class="text-center dragon-actions" oncontextmenu="return false;"
    ng-show="(<%= scope %>.allow(['actions']))">
    <ul class="icons-list dragon-action" style="z-index: 99999" ng-show="<%= scope %>.rowDeleted(row)===''">
        <li ng-repeat="(min, option) in <%= scope %>.getOptions(false) track by min"
            ng-show="<%= scope %>.allow(<%= scope %>.option.permission(option,row)) && <%= scope %>.option.show(option,row)">
            <a
                    data-action="{{<%= scope %>.option.action(option,row)}}"
                    title="{{<%= scope %>.option.title(option,row)}}"
                    ng-click="<%= scope %>.option.click(option,row,false)" class="dropdown-toggle"
                    data-toggle="dropdown">
                <i class=" icon-{{<%= scope %>.option.icon(option,row)}} text-black-300"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dragon-menu" ng-show="option.menus">
                <li ng-repeat="(item, menu) in option.menus track by item"
                    ng-show="<%= scope %>.allow(<%= scope %>.option.permission(menu,row)) && <%= scope %>.option.show(menu,row)">
                    <a
                            class=""
                            title="{{<%= scope %>.option.text(menu,row)}}"
                            data-action="{{<%= scope %>.option.action(menu,row)}}"
                            ng-click="<%= scope %>.option.click(menu,row)">
                        <i class="icon-{{<%= scope %>.option.icon(menu,row)}} "></i>
                        {{<%= scope %>.option.text(menu,row)}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</td>


