<td dragonlanguage="" ng-show="<%= scope %>.allow(['edit','remove','active','view'])"
    class="text-center bg-<%= COLOR.primary %> text-bold" style="width: 20%">
    <language>MESSAGE.ic('mono.actions')</language>
</td>
<td class="text-left" style="width: 80%"
    ng-show="(<%= scope %>.allow(['edit','remove','active','view']))">
    <ul class="icons-list" style="z-index: 99999">
        <li ng-repeat="(min, option) in <%= scope %>.getOptions(false) track by min"
            ng-show="<%= scope %>.allow(<%= scope %>.option.permission(option,<%= scope %>.records.data[0])) && <%= scope %>.option.show(option,<%= scope %>.records.data[0])">
            <a
                    data-action="{{<%= scope %>.option.action(option,<%= scope %>.records.data[0])}}"
                    title="{{<%= scope %>.option.title(option,<%= scope %>.records.data[0])}}"
                    ng-click="<%= scope %>.option.click(option,<%= scope %>.records.data[0],false)"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                <i class=" icon-{{<%= scope %>.option.icon(option,<%= scope %>.records.data[0])}}"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dragon-menu" ng-show="option.menus">
                <li ng-repeat="(item, menu) in option.menus track by item"
                    ng-show="<%= scope %>.allow(<%= scope %>.option.permission(menu,<%= scope %>.records.data[0])) && <%= scope %>.option.show(menu,<%= scope %>.records.data[0])">
                    <a
                            title="{{<%= scope %>.option.text(menu,<%= scope %>.records.data[0])}}"
                            data-action="{{<%= scope %>.option.action(menu,<%= scope %>.records.data[0])}}"
                            ng-click="<%= scope %>.option.click(menu,<%= scope %>.records.data[0])">
                        <i class="icon-{{<%= scope %>.option.icon(menu,<%= scope %>.records.data[0])}}"></i>
                        {{<%= scope %>.option.text(menu,<%= scope %>.records.data[0])}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</td>