


<tr ng-repeat="(keycolum, value) in <%= scope %>.columns() track by keycolum" ng-show="value.visibleDetail!=false">
    <td class="text-white bg-<%= COLOR.secundary %> text-bold">
        <span ng-bind-html="<%= scope %>.columnLabel(value,keycolum)"></span>
    </td>
    <td>
        <span
                ng-bind-html="<%= scope %>.cellValue(keycolum,value,<%= scope %>.records.data[0])"
                ng-click="<%= scope %>.cell.click(keycolum,value,<%= scope %>.records.data[0])"
                ng-dblclick="<%= scope %>.cell.dblclick(keycolum,value,<%= scope %>.records.data[0])"
                ng-mousedown="<%= scope %>.cell.mousedown(keycolum,value,<%= scope %>.records.data[0])"
                ng-mouseenter="<%= scope %>.cell.mouseenter(keycolum,value,<%= scope %>.records.data[0])"
                ng-mouseleave="<%= scope %>.cell.mouseleave(keycolum,value,<%= scope %>.records.data[0])"
                ng-mousemove="<%= scope %>.cell.mousemove(keycolum,value,<%= scope %>.records.data[0])"
                ng-mouseover="<%= scope %>.cell.mouseover(keycolum,value,<%= scope %>.records.data[0])"
                ng-mouseup="<%= scope %>.cell.mouseup(keycolum,value,<%= scope %>.records.data[0])"
        >

        </span>
    </td>

</tr>