<td ng-if="<%= scope %>.characterist('batch')">
     <span style="margin-top: 1px;"

           ng-bind-html="<%= scope %>.drawCheck(key,row)"
           ng-click="<%= scope %>.check(row)"
     >
     </span>
</td>
<td ng-repeat="(key, value) in <%= scope %>.columns() track by key"
    ng-show="value.visible!=false"
    class="{{::value.class || ''}} context-control {{value.responsive}}"
    style="{{::value.style || ''}}"
    data-column="{{::key}}"
    ng-click="<%= scope %>.cell.select($event,row)"
    ng-dblclick="<%= scope %>.cell.dblselect(row)"
    oncontextmenu="return false;"
>


    <span class="{{value.break?'break ':''}}" ng-bind-html="<%= scope %>.cellValue(key,value,row)"
          ng-click="<%= scope %>.cell.click(key,value,row)"
          ng-dblclick="<%= scope %>.cell.dblclick(key,value,row)"
          ng-mousedown="<%= scope %>.cell.mousedown(key,value,row)"
          ng-mouseenter="<%= scope %>.cell.mouseenter(key,value,row)"
          ng-mouseleave="<%= scope %>.cell.mouseleave(key,value,row)"
          ng-mousemove="<%= scope %>.cell.mousemove(key,value,row)"
          ng-mouseover="<%= scope %>.cell.mouseover(key,value,row)"
          ng-mouseup="<%= scope %>.cell.mouseup(key,value,row)"
    ></span>

    <span class="handle"

          ng-show="value.drag===true && <%= scope %>.dragrow"
          ng-bind-html="<%= scope %>.drawHandler()">
    </span>
</td>