

    <table ng-show="<%= scope %>.records.data.length>1"
           class="table table-togglable table-framed sindu-table dragon-table <%= scope %>-drag"
           data-animation="bounceInUp"
           id="<%= scope %>Table"
           style="{{<%= scope %>.funcWidth}}"
           data-scope="<%= scope %>">
        <thead class="bg-<%= COLOR.secundary %>" id="<%= scope %>head">
        <!--Columns-->
        <tr class="bg-<%= COLOR.secundary %> dragon-columns">
            <th ng-repeat="(key, value) in <%= scope %>.columns() track by key"
                ng-show="<%= scope %>.columnVisible(value)"
                data-column="{{key}}"
                ng-dblclick="<%= scope %>.cell.dblColumnSelect($event)"
                class="handle"
            >
                <%- include('columns',{scope:scope}); %>
            </th>
            <%- include('columnOption',{scope:scope}); %>
        </tr>
        </thead>
        <tbody id="<%= scope %>TableBody">
        <!--Rows-->
        <tr ng-repeat="(key, row) in <%= scope %>.records.data track by key" data-object="{{row}}"
            class="dragon-rows {{<%= scope %>.rowClass(row)}} {{<%= scope %>.trCheck(row)}}">
            <%- include('rows',{scope:scope}); %>
            <!--Options-->
            <%- include('rowOptions',{scope:scope}); %>
        </tr>
        </tbody>
    </table>