<script>
    auth;
</script>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="row" style="overflow: hidden">
        <div class="col-lg-9 hidden-xs hidden-sm">
            <img style="width: 113%" src="assets/images/login_cover.png">
        </div>
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-body">
                <div class="form-group has-feedback has-feedback-left text-center">
                    <div class="icon-object border-<%= COLOR.primary %>-800 text-slate-300"><i
                                class="text-<%= COLOR.info %> icon-user-{{<%= scope %>.validation.state()==='success'?'check animation':'lock'}}"></i>
                    </div>
                    <h5 class="content-group" dragonlanguage>
                        <language>MESSAGE.i('login.Loginto')</language> <%= CONFIG.appName %>
                        <small class="display-block">
                            <language>MESSAGE.i('login.Enteryourcredentialsbelow')</language>
                        </small>
                    </h5>
                </div>

                <%- FORM.input("username", scope, {text: "Remember", icon: {class: "user"}}) %>
                <%- FORM.normalpassword("password", scope, {
                    text: "Remember",
                    type: "password",
                    icon: {class: "unlocked2"}
                }) %>
                <%- FORM.button("login", scope, {text: "SING IN", type: "form", icon: {class: "circle-right2"}}) %>
                <% for(var i = 1;i < 14;i++){ %>
                    <br>
                <% } %>
            </div>
            <!-- /simple login form -->
        </div>
    </div>
</div><!--end-->
<style>
    .footer {
        display: none;
    }

    .upButtom {
        display: none !important;
    }

    .panel {
        margin-bottom: 0px !important;
    }
</style>