<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('datasource', scope, {
                    column: 'name',
                    table: 'datasource',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "datasource_linked", fieldFrom: "id", fieldTo: "myid(datasource)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('key', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('value', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('varaible', scope, {
                        //length:15
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





