<script>
    auth;
</script>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="row" style="overflow: hidden">
        <div class="col-lg-9 hidden-xs hidden-sm">
            <img id="coverlogin" style="width: 113%" src="files/configuration/splash/splash.png">
        </div>
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-body" id="logincontent">
                <div class="form-group has-feedback has-feedback-left text-center">
                    <div class="icon-object border-<%= COLOR.primary %>-800 text-slate-300" style="padding: 10px">
                        <img style="float: left !important;width: 100px;" src="files/configuration/logo/logo.png"
                             alt="">
                    </div>
                    <h5 class="content-group" dragonlanguage>
                        <language>MESSAGE.i('login.Loginto')</language> <%= CONFIG.appName %>
                        <small class="display-block">
                            <language>MESSAGE.i('login.Enteryourcredentialsbelow')</language>
                        </small>
                    </h5>
                </div>

                <%- FORM.input("username", scope, {text: "Remember", icon: {class: "user"}, autocomplete: true}) %>
                <%- FORM.normalpassword("password", scope, {
                    text: "Remember",
                    type: "password",
                    icon: {class: "unlocked2"}
                }) %>
                <%- FORM.button("login", scope, {text: "SING IN", type: "form", icon: {class: "circle-right2"}}) %>
                <div class="text-center" dragonlanguage>
                    <a ng-click="<%= scope %>.forgotPassword()">
                        <language>MESSAGE.ic('login.forgotpassword')</language>
                        ?
                    </a>
                </div>
                <% for(var i = 1;i < 14;i++){ %>
                    <br>
                <% } %>

            </div>
            <!-- /simple login form -->
        </div>
    </div>
</div><!--end-->
<style>
    .footer {
        display: none;
    }

    .upButtom {
        display: none !important;
    }

    .panel {
        margin-bottom: 0px !important;
    }
</style>
<script>
    loginresize();
    window.onresize = function (event) {
        loginresize();
    };

    function loginresize() {
        var heightLogin = document.getElementById('coverlogin').clientHeight;
        if (heightLogin != 0)
            document.getElementById("logincontent").style.height = `${heightLogin}px`;
        else
            document.getElementById("logincontent").style.height = `auto`;
    }
</script>