<!-- Main navbar -->
<div class="navbar navbar-inverse  bg-<%= COLOR.primary %>-700" ng-show="DRAGON.isLogged">
    <div class="navbar-header  bg-<%= COLOR.primary %>-700">
        <a class="visible-lg visible-md visible-sm navbar-brand bg-<%= COLOR.primary %>-700 sidebar-mobile-main-toggle">
            <img style="float: left !important;" src="files/dragon_configuration/logo/logo.png" alt="">
            <span class="navbar-brand-text" style="float: left;padding-left: 10px;"> <%= CONFIG.logo %></span>
        </a>
        <a class="visible-xs navbar-brand bg-<%= COLOR.primary %>-700 sidebar-mobile-main-toggle">
            <img style="float: left !important;" src="files/dragon_configuration/logo/logo.png" alt="">
            <span id="apptitle" class="navbar-brand-text" style="float: left;padding-left: 10px;">

            </span>
        </a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile" ng-show="!DRAGON.isClient">
        <ul ng-show="!DRAGON.isClient" class="nav navbar-nav">
            <li>
                <a id="LiteMenu" class="sidebar-control sidebar-main-toggle hidden-xs" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.LiteMenu')">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li>
                <a id="HideMenu" class="sidebar-control sidebar-main-hide hidden-xs legitRipple" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage title="MESSAGE.i('navbar.HideMenu')">
                    <i class="icon-lan3"></i>
                </a>
            </li>
            <li>
                <a id="RestoreallConfiguration" class="sidebar-control" onclick="STORAGE.clearAll()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage
                   title="MESSAGE.i('navbar.RestoreallConfiguration')">
                    <i class="icon-loop"></i>
                    <span class="hidden-lg"><language>MESSAGE.i('navbar.RestoreallConfiguration')</language></span>
                </a>
            </li>
            <li ng-if="DRAGON.features.configuration===true && (DRAGON.isSuper || DRAGON.isAdmin)">
                <a id="configuration" class="sidebar-control" onclick="CONFIGURATION.OPEN()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage
                   title="MESSAGE.ic('mono.dragon_configuration')">
                    <i class=" icon-cog2"></i>
                </a>
            </li>
            <li id="helpOptions">
                <a onclick="showAccess()" class="dropdown-toggle legitRipple sidebar-control" aria-expanded="false">
                    <i class="icon-accessibility2" title="Opciones de ayuda"></i>
                    <span class="hidden-lg"><language>Opciones de accesibilidad</language></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" style="min-width: 290px !important;">
                    <a title="Cerrar" onclick="showAccess()" style="color: #000 !important; margin-left: 256px;">
                        <i style="font-size: 20px !important;" class="icon-cross"></i>
                    </a>
                    <li id="keyboard" title="Navegar por teclado">
                        <a onclick="keydownOn()" style="color: #000 !important;">
                            <i class="icon-keyboard"></i>
                            Navegar por teclado
                        </a>
                    </li>
                    <li id="grayscale" title="Escala de Grises">
                        <a onclick="grayscaleOn()" style="color: #000 !important;">
                            <i class="icon-eye-blocked"></i>
                            Escala de Grises
                        </a>
                    </li>
                    <li id="zoom1" title="Lupa Agrandar">
                        <a id="zoom-in" style="color: #000 !important;">
                            <i class="icon-zoomin3"></i>
                            Lupa Agrandar
                        </a>
                    </li>
                    <li id="zoom2" title="Lupa Minimizar">
                        <a id="zoom-out" style="color: #000 !important;">
                            <i class="icon-zoomout3"></i>
                            Lupa Minimizar
                        </a>
                    </li>
                    <li id="animation2" title="Bloquear Animaciones">
                        <a onclick="animationOn()" style="color: #000 !important;">
                            <i><img src="files/dragon_configuration/icon_image/lightbulb.png" alt="Verificar la ruta de la imagen" width="23"
                                    style="margin-left: -4px;margin-top: -4px;"></i>
                            Bloquear Animaciones
                        </a>
                    </li>

                    <li title="Restablecer opciones de accesibilidad">
                        <a onclick="STORAGE.restore()" style="color: #000 !important;">
                            <i class="icon-loop"></i>
                            Restablecer opciones de accesibilidad
                        </a>
                    </li>

                </ul>

            </li>
            <li class="edit-hide">
                <a id="editMenu" class="sidebar-control" onclick="editar_menu()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage>
                    <i class="icon-menu" title="Ativar modo actualización de menú"></i>
                    <span class="hidden-lg"><language>Ativar modo actualización de menú</language></span>
                </a>

            </li>
            <li style="display: none" class="editar-menu">
                <a class="sidebar-control" onclick="cancelar_edicion()" data-popup="tooltip"
                   data-placement="bottom" data-container="body" dragonlanguage>
                    <i class="icon-checkmark-circle2" title="Desactivar modo actualización de menú"></i>
                    <span class="hidden-lg"><language>Desactivar modo actualización de menú</language></span>
                </a>
            </li>
            <li ng-if="DRAGON.mode==='developer'"
                class="dropdown dropdownwithoptions" dragonlanguage="">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-equalizer"></i>
                    <language>MESSAGE.ic('mono.managers')</language>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu  dragon-navbar" id="dragonsecondmenu" style="color:#000 !important;">
                    <li ng-if="DRAGON.mode==='developer'">
                        <a class="sidebar-control" onclick="new HTTP().openManager()" data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.i('navbar.RequestManager')">

                            <i class="icon-git-pull-request"></i>
                            <language>MESSAGE.ic('navbar.RequestManager')</language>
                        </a>
                    </li>
                    <li ng-if="DRAGON.features.fileManager===true && (DRAGON.isSuper || DRAGON.isAdmin)">
                        <a class="sidebar-control" onclick="FILEMANAGER.OPEN(['/'])" data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.i('navbar.FileManager')">
                            <i class="icon-folder-open"></i>
                            <language>MESSAGE.ic('navbar.FileManager')</language>
                        </a>
                    </li>
                    <li ng-if="DRAGON.features.stepManager===true && DRAGON.mode==='developer'">
                        <a class="sidebar-control" onclick="STEP.OPEN()" data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.i('navbar.StepManager')">
                            <i class=" icon-stack-text"></i>
                            <language>MESSAGE.ic('navbar.StepManager')</language>
                        </a>
                    </li>
                    <li ng-show="!DRAGON.isClient" ng-if="DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.messages'),'dragon_language','comment',undefined,'dragon_language');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.messages')">
                            <i class=" icon-comment"></i>
                            <language>MESSAGE.ic('mono.messages')</language>
                        </a>
                    </li>
                    <li ng-show="!DRAGON.isClient"
                        ng-if="DRAGON.mode==='developer'">
                        <a class="sidebar-control" onclick="MESSAGE.OPEN()" data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.i('navbar.MessageManager')">
                            <i class=" icon-sphere"></i>
                            <language>MESSAGE.ic('navbar.MessageManager')</language>
                        </a>
                    </li>
                </ul>
            </li>


            <li ng-if="((DRAGON.isSuper) || (DRAGON.features.onesignal===true || DRAGON.features.customfields===true))||DRAGON.mode==='developer'"
                class="dropdown dropdownwithoptions" dragonlanguage="">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-equalizer"></i>
                    <language>MESSAGE.ic('mono.datacenter')</language>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dragon-navbar " id="datacenteroptions" style="color:#000 !important;">
                    <li ng-if="(DRAGON.isSuper)">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.diskdata'), 'dragon_information/storage', 'cabinet', 'modal-lg', 'dragon_information')">
                            <language>MESSAGE.ic('mono.diskdata')</language>
                            <i class="icon-cabinet"></i>
                        </a>
                    </li>
                    <li ng-if="(DRAGON.isSuper) && DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('columns.curreny_plural'),'dragon_currency','coin-dollar',undefined,'dragon_currency');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('columns.curreny_plural')">
                            <i class="icon-coin-dollar"></i>
                            <language>MESSAGE.ic('columns.curreny_plural')</language>
                        </a>
                    </li>

                    <li ng-if="(DRAGON.isSuper) && DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('columns.dragon_mime_plural'),'dragon_mime','book',undefined,'dragon_mime');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('columns.dragon_mime_plural')">
                            <i class="icon-book"></i>
                            <language>MESSAGE.ic('columns.dragon_mime_plural')</language>
                        </a>
                    </li>

                    <li ng-if="(DRAGON.isSuper) && DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('columns.dragon_fieldtype_plural'),'dragon_fieldtype','terminal',undefined,'dragon_fieldtype');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('columns.dragon_fieldtype_plural')">
                            <i class="icon-terminal"></i>
                            <language>MESSAGE.ic('columns.dragon_fieldtype_plural')</language>
                        </a>
                    </li>

                    <li ng-if="(DRAGON.isSuper) && DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('columns.dragon_interval_plural'),'dragon_interval','alarm',undefined,'dragon_interval');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('columns.dragon_interval_plural')">
                            <i class="icon-alarm"></i>
                            <language>MESSAGE.ic('columns.dragon_interval_plural')</language>
                        </a>
                    </li>


                </ul>
            </li>

            <li ng-if="((DRAGON.isSuper) || (DRAGON.features.onesignal===true || DRAGON.features.customfields===true))||DRAGON.mode==='developer'"
                class="dropdown dropdownwithoptions" dragonlanguage="">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-equalizer"></i>
                    <language>MESSAGE.ic('mono.modules')</language>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu   dragon-navbar" id="datacenteroptions" style="color:#000 !important;">

                    <li ng-if="DRAGON.features.onesignal===true && (DRAGON.isSuper)">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.dragon_notifications'),'dragon_notifications','bubble-notification',undefined,'dragon_notifications');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.dragon_notifications')">
                            <i class="icon-bubble-notification"></i>
                            <language>MESSAGE.ic('mono.dragon_notifications')</language>
                        </a>
                    </li>
                    <li ng-if="DRAGON.features.customfields===true && (DRAGON.isSuper)">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.dragon_customfield'),'dragon_customfield','magic-wand',undefined,'dragon_customfield');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.dragon_customfield')">
                            <i class=" icon-magic-wand"></i>
                            <language>MESSAGE.ic('mono.dragon_customfield')</language>
                        </a>
                    </li>

                    <li ng-if="DRAGON.features.functions===true && DRAGON.mode==='developer'">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.functions'),'dragon_function','code',undefined,'dragon_function');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.functions')">
                            <i class=" icon-code"></i>
                            <language>MESSAGE.ic('mono.functions')</language>
                        </a>
                    </li>

                    <li ng-if="DRAGON.features.tasks===true && (DRAGON.isAdmin || DRAGON.isSuper)">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.tasks'),'dragon_task','task',undefined,'dragon_task');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.tasks')">
                            <i class="icon-task"></i>
                            <language>MESSAGE.ic('mono.tasks')</language>
                        </a>
                    </li>

                    <li ng-if="DRAGON.features.tasks===true && (DRAGON.isAdmin || DRAGON.isSuper)">
                        <a class="sidebar-control"
                           onclick="MODAL.rawModal(MESSAGE.ic('mono.audit'),'dragon_audit','stack-text',undefined,'dragon_audit');"
                           data-popup="tooltip"
                           data-placement="bottom" data-container="body" dragonlanguage
                           title="MESSAGE.ic('mono.audit')">
                            <i class="icon-stack-text"></i>
                            <language>MESSAGE.ic('mono.audit')</language>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">


            <li class="dropdown language-switch dropdownwithoptions"
                ng-if="DRAGON.features.multilanguage===true">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false"><img
                            src="assets/images/flags/{{DRAGON.currentLang.flag}}.png" alt=""
                            class="position-left"> {{DRAGON.currentLang.name}} <i class="caret"></i></a>
                <ul class="dropdown-menu  dragon-navbar">
                    <li
                            ng-repeat="(key,lan) in DRAGON.SHOWLANGS track by key"
                            class="{{DRAGON.currentLang.code===lan.code?'bg-<%= COLOR.primary %>':''}}">
                        <a style="color: #000 !important;" ng-click="DRAGON.changeLanguage(lan)">
                            <img src="assets/images/flags/{{lan.flag}}.png" alt="">{{lan.name}}</a>
                    </li>
                </ul>
            </li>
<!--            <li ng-show="!DRAGON.isClient" ng-if="DRAGON.mode==='developer'">-->
<!--                <a class="sidebar-control"-->
<!--                   onclick="MODAL.rawModal(MESSAGE.ic('mono.generatemobile'), 'dragon_information/mobile', 'mobile', 'modal-lg', 'dragon_information')"-->
<!--                   data-popup="tooltip"-->
<!--                   data-placement="bottom" data-container="body" dragonlanguage-->
<!--                   title="MESSAGE.ic('mono.generatemobile')">-->
<!--                    <i class="icon-mobile"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="dropdown dropdownwithoptions"-->
<!--                ng-show="DRAGON.isSuper && DRAGON.menusList.length>1"-->
<!--                dragonlanguage="">-->
<!--                <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">-->
<!--                    <i class="icon-menu9"></i>-->
<!--                    <span>-->
<!--                                <language>MESSAGE.i('menu.list')</language>-->
<!--                            </span>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu  dragon-navbar">-->
<!--                    <li ng-repeat="(key, menu) in DRAGON.menusList track by key"-->
<!--                        class="{{DRAGON.currentMenu===menu.href?'bg-primary':''}}">-->
<!--                        <a data-modal="{{menu.modal}}" ng-click="DRAGON.changeMenu(menu)"-->
<!--                           style="color: black !important;">-->
<!--                            <i class="icon-{{menu.icon}}"></i>-->
<!--                            <span>-->
<!--                                        {{DRAGON.menuLabel(menu)}}-->
<!--                                     </span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
        </ul>
        <div class="navbar-right" ng-show="DRAGON.isLogged">

            <ul class="nav navbar-nav">

                <li class="dropdown dropdown-user" style="color:#000 !important;">
                    <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">

                        <img id="profileImage"
                             data-dragonfile="/{{::DRAGON.path}}/profileimage/{{::DRAGON.userID}}"
                             src="assets/images/placeholder.jpg" alt="">

                        <span>{{::DRAGON.fullName}}</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li dragonlanguage="">
                            <a style="color: #000 !important;" onclick="new SESSION().myprofile()">
                                <i class="icon-user-plus"></i>
                                <language>MESSAGE.ic('mono.myprofile')</language>
                            </a>
                        </li>
                        <li dragonlanguage="">
                            <a style="color: #000 !important;"
                               onclick="MODAL.rawModal(MESSAGE.ic('mono.about'), 'dragon_information/about', 'info3', 'modal-full', 'dragon_information')">
                                <i class="icon-info3"></i>
                                <language>MESSAGE.ic('mono.about')</language>
                            </a>
                        </li>
                        <!--<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>-->
                        <li class="divider"></li>
                        <!--<li><a href="#"><i class="icon-cog5"></i> Account settings </a></li>-->
                        <li>
                            <a style="color: #000 !important;" onclick="new SESSION().logoff()" dragonlanguage><i
                                        class="icon-switch2"></i>
                                <language>MESSAGE.i('navbar.Logout')</language>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->
<script>
    //function show and hide dropdown
    function showAccess(){
        var bool = false;
        bool =  $('#helpOptions').hasClass("open");
        if(bool){
            $('#helpOptions').removeClass("open");
        }else
            $('#helpOptions').addClass("open");
    }

    //function zoom
    $('#zoom-in').click(function() {
        updateZoom(0.1);
        $('#zoom1').addClass("active2");
        $('#zoom2').removeClass("active2");
    });
    $('#zoom-out').click(function() {
        updateZoom(-0.1)
        $('#zoom2').addClass("active2");
        $('#zoom1').removeClass("active2");
    });
    zoomLevel = 1;
    var updateZoom = function(zoom) {
        zoomLevel += zoom;
        $('body').css({ zoom: zoomLevel, '-moz-transform': 'scale(' + zoomLevel + ')' });
    }

    //function zoom keydown
    keydownOnOf = STORAGE.get('keydownOn');
    function keydownOn(){
        if(keydownOnOf || !STORAGE.exist('keydownOn')){
            document.onkeydown = function (e) {
                if (e.ctrlKey && e.altKey && e.which == 76){
                    console.log("Entre");
                    $("#LiteMenu").click();
                }
                if (e.ctrlKey && e.altKey && e.which == 72){
                    $("#HideMenu").click();
                }
                if (e.ctrlKey && e.altKey && e.which == 82){
                    $("#RestoreallConfiguration").click();
                }
                if (e.ctrlKey && e.altKey && e.which == 67){
                    $("#configuration").click();
                }
                if (e.which == 27){
                    $("#closeModal").click();
                }
            };
            keydownOnOf = false;
            $('#keyboard').addClass("active2");
            STORAGE.add('keydownOn', true);
        }else{
            document.onkeydown = function (e) {
                if (e.ctrlKey && e.altKey && e.which == 76){
                }
                if (e.ctrlKey && e.altKey && e.which == 72){
                }
                if (e.ctrlKey && e.altKey && e.which == 82){
                }
                if (e.ctrlKey && e.altKey && e.which == 67){
                }
                if (e.which == 27){
                }
            };
            keydownOnOf = true;
            $('#keyboard').removeClass("active2");
            STORAGE.add('keydownOn', false);
        }
    }

    //function grayscale
    grayscaleOnOf = STORAGE.get('grays');
    function grayscaleOn() {
        if(grayscaleOnOf || !STORAGE.exist('grays')){
            $('body').css("filter","grayscale(1)");
            grayscaleOnOf = false;
            $('#grayscale').addClass("active2");
            STORAGE.add('grays', true);
        }else{
            $('body').css("filter","grayscale(0)");
            grayscaleOnOf = true;
            $('#grayscale').removeClass("active2");
            STORAGE.add('grays', false);
        }
    }

    //function animation
    animationOnOf = STORAGE.get('animation');
    function animationOn() {
        if(!animationOnOf){
            STORAGE.add('animation', true);
            $('#animation2').removeClass("active2");
        }else{
            STORAGE.add('animation', false);
            $('#animation2').addClass("active2");
        }
        location.reload();
    }

    //execute default functions
    if(STORAGE.exist('keydownOn')){
        keydownOn();
    }
    if(STORAGE.exist('grays')){
        grayscaleOn();
    }
    $(document).ready(function(){
        if(!animationOnOf){
            $('#animation2').removeClass("active2");
        }else{
            $('#animation2').addClass("active2");
        }
    });

    var editar_menu= function () {
        $(".edit-hide").hide();
        $(".editar-menu").show();
    }

    var restaurar_menu = function () {
        SWEETALERT.loading({message: "Restaurando..."});
        location.reload();
    }

    var cancelar_edicion = function () {
        $(".editar-menu").hide();
        $(".edit-hide").show();
    }

    var guardar_menu = function () {
        SWEETALERT.confirm({
            message: "Desea guardar los cambios realizados en el menú?",
            confirm: function () {
                // DRAGON.refreshAngular();
                var jsonMenu = DRAGON.menus;
                console.log(jsonMenu);
                SWEETALERT.loading({message: "Guardando..."});
                DRAGONAPI.ajax.post('/menu/edit', {json: JSON.stringify(jsonMenu)}, function () {
                    SWEETALERT.loading({message: MESSAGE.ic('mono.saving')});
                    setTimeout(() => {
                        location.reload();
                    }, 5000);
                });
            }
        });
    }
</script>