

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="col-sm-12 col-md-12">
            <%- FORM.file("profileimage", scope, {title: 'Upload Profile Image', maxfiles: 2, columns: 2}) %>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("username", scope, {maxlength: 15}) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <%- FORM.password("password", scope, {maxlength: 15}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("name", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("lastname", scope, {maxlength: 50}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("email", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <%- FORM.checkbox("active", scope, {text: 'Active?'}) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>



