<%- FORM.tabs(scope, [
    {id: "basic", text: "Basic Information", icon: "icon-menu7"},
    {id: "products", text: "Products", icon: "icon-archive"},
    {id: "biography", text: "Biography", icon: "icon-html5"},
    {id: "comments", text: "Comments", icon: "icon-comment"}
]) %>

<div class="tab-content">
    
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.datetime("record", scope, {
                    timepicker: true,
                    datepicker: false,
                    format: 'h:i a',
                    callformat: 'hh:mm a'
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.datetime("birthDate", scope, {
                    placeHolder: 'Birth Date',
                    timepicker: false,
                    format: 'd/m/Y',
                    callformat: 'DD/MM/YYYY'
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.datetime("lastLogin", scope, {
                    placeHolder: 'Last Login',
                    minDate: 'birthDate',
                    minTime: 'record',
                    dynamic: false
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.input("name", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.input("lastName", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.select("child", scope, {
                    column: "ms_child_name",
                    table: "ms_child",
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.format("average", scope, {
                    isNumber: false,
                    icon: {class: "percent", position: "right"},
                    format: {mask: "###%", options: {reverse: true}}
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.format("salary", scope, {
                    isNumber: true,
                    icon: {class: "cash3"},
                    format: {mask: "000,000,000,000,000.00", options: {reverse: true}}
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.inputview("salaryNeto", scope, {
                    placeholder: "Salary Neto",
                    icon: {class: "cash3"},
                    format: {mask: "000,000,000,000,000.00", options: {reverse: true}}
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.select("other", scope, {
                    column: "ms_other_description",
                    table: "ms_other",
                    icon: {class: "cube"}
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.location("location", scope) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.color("color", scope, {icon: {class: "brush"}}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.file("image", scope,{acceptedFiles:"*image"}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.file("gallery", scope, {maxfiles: 4, columns: 2}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.file("file", scope) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <%- FORM.textarea("description", scope, {maxlength: 200}) %>
            </div>
            <div class="col-sm-3 col-md-3">
                <%- FORM.checkbox("active", scope, {text: 'Active?'}) %>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="products">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.select("category", scope, {
                    column: "ms_category_name",
                    table: "ms_category",
                    icon: {class: "archive"},
                    childs: [
                        {
                            model: 'product'
                        },
                        {
                            model: 'products'
                        }
                    ]
                }) %>
            </div>

            <div class="col-sm-6 col-md-6">
                <%- FORM.select("product", scope, {
                    column: "ms_product_name",
                    label: "Main Product",
                    table: "ms_product",
                    icon: {class: "archive"},
                    parent: {
                        model: 'category',
                        myfield: 'CATEGORY',
                        sufield: 'id'
                    }
                }) %>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.select("products", scope, {
                    table: "ms_product",
                    get: {table: 'ms_allproducts', fieldFrom: 'id', fieldTo: 'all', field: 'product'},
                    multiple: true,
                    parent: {
                        model: 'category',
                        myfield: 'CATEGORY',
                        sufield: 'id'
                    },
                    icon: {class: "archive"}
                }) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <input type="text" class="yearpicker form-control"/>
                <script>
                    new Picker(document.querySelector('.yearpicker'), {
                        format: 'YYYY',
                        text: {
                            title: 'Selecciona un año',
                        },
                    });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.tags("hashtags", scope, {placeholder: 'Tags'}) %>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="biography">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.html("biography", scope) %>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="comments">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.relation("ms_allusers", scope, {
                    table: "ms_allusers",
                    field: "all",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>

</div>
<%- FORM.footer(scope) %>