<div class="table-responsive" id="<%= modelName %>TablePanel">
    <!--Table List-->
    <table class="table table-togglable table-hover table-framed"
           data-animation="bounceInUp"
           id="<%= modelName %>Table" data-scope="<%= modelName %>">
        <thead class="bg-<%= TAG.table %>" id="<%= modelName %>head">
        <!--Columns-->
        <tr>
            <th ng-repeat="(key, value) in <%= modelName %>.table.crud.table.columns"
                ng-show="<%= modelName %>.columnVisible(value)">
                <%- include('columns',{modelName:modelName}); %>
            </th>
            <%- include('columnOption',{modelName:modelName}); %>
        </tr>
        </thead>
        <tbody id="<%= modelName %>TableBody">
        <!--Rows-->
        <tr ng-repeat="(key, row) in <%= modelName %>.records.data" data-object="{{row}}"
            class=" {{<%= modelName %>.rowClass(row)}}">
            <%- include('rows',{modelName:modelName}); %>
            <!--Options-->
            <%- include('rowOptions',{modelName:modelName}); %>
        </tr>
        </tbody>
    </table>
    <!--Table List-->
</div>
<%- include('paginator',{modelName:modelName}); %>