<span title="Check All" class="cursor-pointer"
      ng-bind-html="<%= scope %>.drawCheck(key)"
      ng-click="<%= scope %>.checkAll()">
</span>

<span ng-bind-html="<%= scope %>.columnLabel(value,key)"></span>

<i ng-show="<%= scope %>.characterist('sortable')" ng-click="<%= scope %>.sort(value,key)"
   class="{{<%= scope %>.sortIcon(value)}} cursor-pointer"></i>
<i ng-show="<%= scope %>.characterist('persist')"
   ng-click="<%= scope %>.hideColumn(key)"
   style="float:right"
   class="float-right cursor-pointer icon-eye-blocked show-tr">
</i>