<div


        class="page-header-lg page-header-sm  page-header-xs page-header page-header-default border-bottom-lg border-bottom-<%= TAG.border %>">
    <!--Breadcrumb and Table Options-->
    <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>

        <ul class="breadcrumb" ng-show="!<%= scope %>.modal.isOpen()">
            <li ng-repeat="(key, menu) in <%= scope %>.MENU.parents track by key">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{menu.icon}} position-left"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
                    <li ng-repeat="(subkey, submenu) in menu.childs track by subkey">
                        <a href="{{<%= scope %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                           class="{{<%= scope %>.sameHref(submenu,'text-<%= COLOR.primary %>')||''}}">
                            <i class="{{submenu.icon}}"></i>{{submenu.text}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
                    {{<%= scope %>.MENU.menu.text}}
                </a>
                <a
                        ng-show="!<%= scope %>.menu.already(baseController,'#<%= scope %>')"
                        ng-click="<%= scope %>.favorite(baseController);"
                        class="text-<%= COLOR.primary %>-700 legitRipple"
                        title="Add To Favorite">
                    <i title="Add To Favorite"
                       class="icon-heart5"></i> 
                </a>
            </li>
        </ul>
        <ul class="breadcrumb-elements">

            <li ng-show="<%= scope %>.records.data.length>1">
                <a title="Restore configuration for this table" ng-click="<%= scope %>.restoreStorage()"
                   ng-show="<%= scope %>.characterist('persist')"
                   class="legitRipple">
                    <i title="Restore configuration for this table" class="icon-loop"></i> 
                </a>
            </li>
            <li class="dropdown" ng-show="<%= scope %>.records.data.length>1">
                <a title="Records Per Page" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Records Per Page" class="icon-list"></i>
                    ({{<%= scope %>.table.currentLimit===0?'All':<%= scope %>.table.currentLimit}})
                    <span ng-show="<%= scope %>.getLimits().length>1" class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ng-show="<%= scope %>.getLimits().length>1">
                    <li title="Show {{row==0?'All':row}} Records Per Page" class="{{<%= scope %>.limitActive(row)}}"
                        ng-repeat="(key, row) in <%= scope %>.getLimits() track by key">
                        <a ng-click="<%= scope %>.goLimit(row)">{{row==0?'All':row}}</a>
                    </li>
                </ul>
            </li>

            <li ng-if="<%= scope %>.allow('filter') && <%= scope %>.filters!==undefined">
                <a ng-click="<%= scope %>.openFilters();" class="legitRipple" title="Filter">
                    <i title="Filter" class="icon-filter4"></i> 
                    <span ng-show="<%= scope %>.filters.blocks.length"
                          class="label bg-<%= TAG.table %>-400">{{<%= scope %>.filters.blocks.length}}</span>
                </a>
            </li>
            <li class="dropdown" ng-show="<%= scope %>.records.data.length>1">
                <a title="Export as" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Export as" class=" icon-database-export "></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-show="<%= scope %>.allow('export.Clipboard')">
                        <a ng-click="<%= scope %>.export.go('Clipboard')"><i class="icon-copy3"></i>Clipboard</a>
                    </li>
                    <li ng-show="<%= scope %>.allow('export.PDF')">
                        <a ng-click="<%= scope %>.export.go('PDF')"> <i class="icon-file-pdf"></i>PDF</a></li>
                    <li ng-show="<%= scope %>.allow('export.CSV')">
                        <a ng-click="<%= scope %>.export.go('CSV')"> <i class="icon-libreoffice"></i>CSV</a></li>
                    <li ng-show="<%= scope %>.allow('export.XLS')">
                        <a ng-click="<%= scope %>.export.go('XLS')"><i class="icon-file-excel"></i>XLS</a></li>
                    <li ng-show="<%= scope %>.allow('export.DOC')">
                        <a ng-click="<%= scope %>.export.go('DOC')"> <i class="icon-file-word"></i>DOC</a></li>

                </ul>
            </li>
            <li class="dropdown" ng-show="<%= scope %>.allow('import') && <%= scope %>.records.data.length>1">
                <a title="Import" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Import" class="icon-database-upload"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ng-click="<%= scope %>.export.downloadExample()"><i class="icon-file-download"></i>Donwload
                            Example</a></li>
                    <li><a ng-click="<%= scope %>.export.importModal()"> <i class="icon-import"></i>Import</a></li>
                </ul>
            </li>
            <li class="dropdown" ng-show="<%= scope %>.characterist('batch') && <%= scope %>.records.data.length>1">
                <a title="Batch Actions" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Batch Actions" class="icon-stack-check "></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ng-click="<%= scope %>.deleteSelected()"><i class="icon-trash"></i>Remove</a></li>
                    <li ng-show="<%= scope %>.activeColumn()">
                        <a ng-click="<%= scope %>.activeSelected(1)">
                            <i class="icon-checkmark-circle"></i>Enable
                        </a>
                    </li>
                    <li ng-show="<%= scope %>.activeColumn()">
                        <a ng-click="<%= scope %>.activeSelected(0)"><i class="icon-circle"></i>Disable</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-click="<%= scope %>.refresh()" class="legitRipple">
                    <i title="Refresh" class="icon-rotate-cw3 loadingButton"></i> 
                </a>
            </li>
            <li ng-show="<%= scope %>.allow('add')">
                <a ng-click="<%= scope %>.formulary(null,'new')" class="legitRipple">
                    <i title="Add" class="icon-plus-circle2 "></i> 
                </a>
            </li>
        </ul>
    </div>
    <!--Breadcrumb and Table Options-->
</div>