<div class="page-header-lg page-header-sm  page-header-xs page-header page-header-default border-bottom-lg border-bottom-<%= TAG.border %>">
    <!--Breadcrumb and Table Options-->
    <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>

        <ul class="breadcrumb">
            <li ng-repeat="(key, menu) in <%= modelName %>.MENU.parents">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{menu.icon}} position-left"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
                    <li ng-repeat="(subkey, submenu) in menu.childs">
                        <a href="{{<%= modelName %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                           class="{{<%= modelName %>.sameHref(submenu,'text-<%= COLOR.primary %>')||''}}">
                            <i class="{{submenu.icon}}"></i>{{submenu.text}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a data-function="menu" href="javascript:void(0)">
                    <i class="{{<%= modelName %>.MENU.menu.icon}} position-left"></i>
                    {{<%= modelName %>.MENU.menu.text}}
                </a>
                <a
                        ng-show="!<%= modelName %>.menu.already(baseController,'#<%= modelName %>')"
                        ng-click="<%= modelName %>.favorite(baseController);" class="text-danger-700 legitRipple"
                        title="Add To Favorite">
                    <i title="Add To Favorite"
                       class="icon-heart5"></i> 
                </a>
            </li>
        </ul>
        <ul class="breadcrumb-elements">

            <li>
                <a title="Restore configuration for this table" ng-click="<%= modelName %>.restoreStorage()"
                   ng-show="<%= modelName %>.characterist('persist')"
                   class="legitRipple">
                    <i title="Restore configuration for this table" class="icon-loop"></i> 
                </a>
            </li>
            <li class="dropdown">
                <a title="Records Per Page" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Records Per Page" class="icon-list"></i>
                    ({{<%= modelName %>.table.currentLimit===0?'All':<%= modelName %>.table.currentLimit}})
                    <span ng-show="<%= modelName %>.getLimits().length>1" class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ng-show="<%= modelName %>.getLimits().length>1">
                    <li title="Show {{row==0?'All':row}} Records Per Page" class="{{<%= modelName %>.limitActive(row)}}"
                        ng-repeat="(key, row) in <%= modelName %>.getLimits()">
                        <a ng-click="<%= modelName %>.goLimit(row)">{{row==0?'All':row}}</a>
                    </li>
                </ul>
            </li>
            <li ng-show="<%= modelName %>.allow('add')">
                <a href="#<%= modelName %>" class="legitRipple">
                    <i title="Add" class="icon-plus-circle2 "></i> 
                </a>
            </li>


            <li ng-show="<%= modelName %>.allow('filter')">
                <a ng-click="<%= modelName %>.openFilters();" class="legitRipple" title="Filter">
                    <i title="Filter" class="icon-filter4"></i> 
                </a>
            </li>

            <li class="dropdown" ng-show="<%= modelName %>.allow('export')">
                <a title="Export as" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Export as" class=" icon-database-export "></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-copy3"></i>Clipboard</a></li>
                    <li><a href="#"><i class="icon-file-pdf"></i>PDF</a></li>
                    <li><a href="#"><i class="icon-file-excel"></i>CSV</a></li>
                    <li><a href="#"><i class="icon-file-excel"></i>XLSX</a></li>
                    <li><a href="#"><i class="icon-file-word"></i>DOC</a></li>
                </ul>
            </li>
            <li class="dropdown" ng-show="<%= modelName %>.characterist('batch')">
                <a title="Batch Actions" href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                   aria-expanded="false">
                    <i title="Batch Actions" class="icon-stack-check "></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-trash"></i>Remove</a></li>
                    <li ng-show="<%= modelName %>.activeColumn()"><a href="#"><i class="icon-checkmark-circle"></i>Enable</a>
                    </li>
                    <li ng-show="<%= modelName %>.activeColumn()"><a href="#"><i class="icon-circle"></i>Disable</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-click="<%= modelName %>.refresh()" class="legitRipple">
                    <i title="Refresh" class="icon-rotate-cw3 loadingButton"></i> 
                </a>
            </li>

        </ul>
    </div>
    <!--Breadcrumb and Table Options-->
</div>