<td class="text-center dragon-actions"
    ng-show="(<%= modelName %>.allow('actions') && <%= modelName %>.allow(['edit','remove','active']))">
    <ul class="icons-list" style="z-index: 99999">
        <li ng-repeat="(key, option) in <%= modelName %>.options"
            ng-show="<%= modelName %>.allow(<%= modelName %>.option.permission(option,key,row)) && <%= modelName %>.option.show(option,key,row)">
            <a ng-click="<%= modelName %>.option.click(option,key,row,false)" class="dropdown-toggle"
               data-toggle="dropdown">
                <i class=" icon-{{<%= modelName %>.option.icon(option,key,row)}}"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dragon-menu">
                <li ng-repeat="(key, menu) in option.menus"
                    ng-show="<%= modelName %>.allow(<%= modelName %>.option.permission(menu,key,row)) && <%= modelName %>.option.show(menu,key,row)">
                    <a ng-click="<%= modelName %>.option.click(menu,key,row)">
                        <i class="icon-{{<%= modelName %>.option.icon(menu,key,row)}}"></i>
                        {{<%= modelName %>.option.text(menu,key,row)}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</td>


