<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../templates/storagetable/header',{scope:scope}); %>
        <div class="subcontent">
            <%- include('../templates/storagetable/base',{scope:scope}); %>
        </div>
    </div>
</div><!--end-->