<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.input("basic", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.format("format", scope, {
                    isNumber: false,
                    icon: {class: "percent", position: "right"},
                    format: {mask: "###%", options: {reverse: true}}
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.format("mask", scope, {
                    isNumber: true,
                    icon: {class: "cash3"},
                    format: {mask: "000,000,000,000,000.00", options: {reverse: true}}
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.input("readonly", scope, {maxlength: 50}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.normalpassword("normalpassword", scope, {maxlength: 15}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.password("passwordplus", scope, {maxlength: 15}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.textarea("textarea", scope, {maxlength: 200}) %>
            </div>
        </div>
    </div>
</div>
<%- FORM.footer(scope) %>